@import '../../../assets/scss/Variable.scss';
@import '../../../assets/scss/BreakPoint.scss';

.articleContainer{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; 
    z-index: 0.5;
    text-align: center;
    .soundOn{
        position: absolute;
        bottom:4rem;
        right:4rem;
        z-index: 9;
        .soundSwitch{
            display: flex;
            justify-content: flex-end; 
            .react-switch{
                color:$black;
                .react-switch-bg{
                    line-height: 1.8;
                    .icon-volume-mute{
                        &:before{
                            padding: 0.5rem;
                        }
                    }
                    .icon-volume-high{
                        &:before{
                            padding: 0.5rem;
                        }
                    }
                }
                .react-switch-handle{
                    &:before{
                        content: "\e904";
                        font-family: "icomoon";
                        color: $white;
                        padding: 0.3rem;
                        display: flex;
                        text-align: center;
                    }
                }
            }
        }
    }
    .soundOff{
        position: absolute;
        bottom:4rem;
        right:4rem;
        z-index: 9;
        position: absolute;
        .soundSwitch{
            display: flex;
            justify-content: flex-end;
            .react-switch{
                color: #000;
                .react-switch-bg{
                    line-height: 1.8;
                    .icon-volume-mute{
                        &:before{
                            padding: 0.5rem;
                        }
                    }
                    .icon-volume-high{
                        &:before{
                            padding: 0.5rem;
                        }
                    }
                }
                .react-switch-handle{
                    &:before{
                        content: "\e903";
                        font-family: "icomoon";
                        color: #fff;
                        // text-align: center;
                        display: flex;
                        padding: 0.3rem;
                    }
                    .icon-volume-high{
                        display: none;
                    }
                }
            }
        }
    }
}
