


  
  .page-enter {
    opacity: 1;
  }
  
  .page-enter.page-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  
  .page-leave {
    opacity: 1;
    transform: translateY(-300px)
  }
  
  .page-leave.page-leave-active {
    opacity: 0.11;
    transform: translateY(-300px) ;
    transition:all .1s ease-in-out;
  }


  .page-appear {
    opacity: 1;
    transform: translateY(300px)
  }
  
  .page-appear.page-appear-active {
    opacity: 1;
    transform: translateY(0px) ;
    transition: transform .5s ease-in-out;
    
  }

