
@keyframes launch{
    0%{
        bottom: 0rem;
    }
    20%{
        bottom: 1rem;
    }
    30%{
        bottom:2rem;
    }
    50%{
        bottom:-2rem;
    }
    60%{
        bottom:3rem;
        opacity: 0.8;
    }
    100%{
        bottom:19rem;
        opacity:0;
    }
}

@include bp-from(l){
    @keyframes launch{
        0%{
            top: 12%;
        }
        20%{
            top: 9
        }
        30%{
            top:8%;
        }
        50%{
            top:15.5%;
        }
        60%{
            top:5%;
            opacity: 0.8;
        }
        100%{
            top:-40%;
            opacity:0;
        }
    }
} 

@keyframes launchintro{
    0%{
        bottom:5rem;
    }
    20%{
        bottom: 2rem;
    }
    30%{
        bottom:5rem;
    }
    50%{
        bottom: 2rem;
    }
    80%{
        bottom:15rem;
        opacity: 0;
    }
    100%{
        bottom:15rem;
        opacity:0;
    }
}

@include bp-from(m){
    @keyframes launchintro{
        0%{
            top: 12%;
        }
        20%{
            top: 9%;
        }
        30%{
            top:8%;
        }
        50%{
            top:15.5%;
        }
        60%{
            top:5%;
            opacity: 0.8;
        }
        100%{
            top:-40%;
            opacity:0;
        }
    }
}

@keyframes blow{
    0%{
        opacity: 0;
    }
    10%{
        opacity:  0.3;
    }
    30%{
        opacity:0.2;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0.8;
    }
    100%{
        opacity:0;
    }
}
  
// Introduction
@keyframes introTitle {
    from { 
        left: -100%; 
    }
    to {
        left: 2rem;
    }
}
@include bp-from(m) {
    @keyframes introTitle {
        from { 
            left: -100%; 
        }
        to {
            left: 0;
        }
    }
}
@keyframes introGirl {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

// TIC Animation
@keyframes spaceTitle {
    from { 
        left: -100%; 
    }
    to {
        left: 15%;
    }
}
@include bp-from(m){
    @keyframes spaceTitle {
        from { 
            left: -100%; 
        }
        to {
            left: 0;
        }
    }
}
@keyframes spaceGirl {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes labText {
    from { 
        right: -100%; 
    }
    to {
        right: 0;
    }
}
@keyframes labImg {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes innovationTitle {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

// spacebid animation
@keyframes dash {
    0% {
        stroke-dashoffset: 2000;
    }
    100% {
        stroke-dashoffset: 4000;
    }
}
