@import '../scss/Variable.scss';

html,
body {
    height: 100%;
}

html {
    font-size:$base-font-size;
    text-size-adjust: 100%;
}

body {
    font-family: 'DaxOT';
    font-weight: 400;
    min-width: map-get($breakpoints, m);
}