@font-face {
    font-family: 'DaxOT';
    src:  url('../fonts/DaxOT.eot?kdtmg8');
    src:  url('../fonts/DaxOT.eot?kdtmg8#iefix') format('embedded-opentype'),
      url('../fonts/DaxOT.ttf?kdtmg8') format('truetype'),
      url('../fonts/DaxOT.woff?kdtmg8') format('woff'),
      url('../fonts/DaxOT.svg?kdtmg8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'DaxOT Bold';
    src:  url('../fonts/DaxOT-Bold.eot?kdtmg8');
    src:  url('../fonts/DaxOT-Bold.eot?kdtmg8#iefix') format('embedded-opentype'),
      url('../fonts/DaxOT-Bold.ttf?kdtmg8') format('truetype'),
      url('../fonts/DaxOT-Bold.woff?kdtmg8') format('woff'),
      url('../fonts/DaxOT-Bold.svg?kdtmg8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'DaxOT Light';
    src:  url('../fonts/DaxOT-Light.eot?kdtmg8');
    src:  url('../fonts/DaxOT-Light.eot?kdtmg8#iefix') format('embedded-opentype'),
      url('../fonts/DaxOT-Light.ttf?kdtmg8') format('truetype'),
      url('../fonts/DaxOT-Light.woff?kdtmg8') format('woff'),
      url('../fonts/DaxOT-Light.svg?kdtmg8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'DaxOT Medium';
    src:  url('../fonts/DaxOT-Medium.eot?kdtmg8');
    src:  url('../fonts/DaxOT-Medium.eot?kdtmg8#iefix') format('embedded-opentype'),
      url('../fonts/DaxOT-Medium.ttf?kdtmg8') format('truetype'),
      url('../fonts/DaxOT-Medium.woff?kdtmg8') format('woff'),
      url('../fonts/DaxOT-Medium.svg?kdtmg8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
