@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?wczjm7');
    src:  url('../fonts/icomoon.eot?wczjm7#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?wczjm7') format('truetype'),
      url('../fonts/icomoon.woff?wczjm7') format('woff'),
      url('../fonts/icomoon.svg?wczjm7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-moon:before {
    content: "\e900";
  }
  .icon-sun:before {
    content: "\e901";
  }
  .icon-nav:before {
    content: "\e902";
  }
  .icon-volume-high:before {
    content: "\e904";
  }
  .icon-volume-mute:before {
    content: "\e903";
  }
  .icon-close:before {
    content: "\e94a";
  }
  .icon-sparkup:before {
    content: "\e901";
  }
  .icon-sparkdown:before {
    content: "\e900";
  }
  .icon-prev:before {
    content: "\e906";
  }
  .icon-next:before {
    content: "\e905";
  }
  .icon-notification:before {
    content: "\e907";
  }
  .icon-icons8-linkedin-2:before {
    content: "\e90a";
  }
  .icon-icons8-facebook-f:before {
    content: "\e908";
  }
  .icon-icons8-twitter:before {
    content: "\e909";
  }
  .icon-upload:before {
    content: "\e90b";
  }
  .icon-addition-sign:before {
    content: "\e90d";
  }
  .icon-delete-button:before {
    content: "\e90c";
  }
  .icon-arrowhead-pointing-to-the-right:before {
    content: "\e90e";
  }
  .icon-sort-down:before {
    content: "\e90f";
  }
  .icon-printer:before {
    content: "\e911";
  }
  .icon-download:before {
    content: "\e912";
  }
  .icon-microphone-black-shape:before {
    content: "\e913";
  }
  .icon-tick:before {
    content: "\e914";
  }
  .icon-crunchbase:before {
    content: "\e910";
  }
  .icon-checkedGreenSignprogressbar:before {
    content: "\e915";
    color: #0eed1e;
  }
  .icon-othericon2:before {
    content: "ors";
    font-weight: bold;
  }
  .icon-edit-2:before {
    content: "\e962";
  }