
$base-font-size: 16px !default;

$font-sizes: (
    200: 1.5rem,
    300: 1.75rem,
    400: 2rem,
    500: 2.5rem,
    600: 3rem,
    700: 4rem,
    800: 4.25rem,
    1000: 6rem
) !default;

$line-heights: (
    200: 2rem,
    300: 2rem,
    400: 3rem,
    500: 4rem,
    600: 4rem,
    700: 5rem,
    800: 5rem,
    1000: 8rem
) !default;

$font-families: (
    primary: "'Open Sans', Arial, sans-serif",
    accent: "'Assistant', Arial, sans-serif"
) !default;


$nightTheme :#191a69;
$blue: #0346d5;
$lightBlue :#3904ce;
$white :#fff;
$black : #000;
$pink:#c5527f;
$skyblue:#2177a7;
$notify:#2dea13;
$darkBlue:#0d0c4f;
$borderBlue:#e6f0fe;
$actionBlue:#3449eb;
$darkblue:#0a0d54;
$formBLue:#1a238b;
$borderformblue:#23a9d0;
$grey: #384765;
$progressBar:#2f41d5;
$textday:#0a48d4;
$textdaygrey:#373737;
$table:#403bd3;
