@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/BreakPoint.scss';
@import '../../assets/scss/Animation.scss';
@import '../../assets/scss/Fonts.scss';



.introTOBajaj{
    .dark-theme{
        background: rgba(21,38,135,1);
        background: -moz-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(21,38,135,1)), color-stop(56%, rgba(25,25,103,1)), color-stop(100%, rgba(26,23,100,1)));
        background: -webkit-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: linear-gradient(135deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152687', endColorstr='#1a1764', GradientType=1 );
        position: relative;
        width:100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        scroll-behavior: smooth ;
        color:$white;
        box-sizing: border-box;
        padding: 0;
        .topBgGradient{
            background: url('../../assets/images/topBgGradient.png') no-repeat 0 0;
            position: absolute;
            top:0;
            left:0;
            z-index: 1;
            background-size: 100%;
            width: 82%;
            height: 10rem;
            @include bp(m){
                background: url('../../assets/images/topBgGradient.png') no-repeat 0 0;
                background-size:100%;
                width: 68%;
                height: 100vh;
            }
            @include bp(l){
                background: url('../../assets/images/topBgGradient.png') no-repeat 0 0;
                background-size:100%;
                width: 35%;
                height: 11rem;
            }
            @include bp(xl){
                width: 32%;
                height:12rem;
            }
        }
        .icon-nav{
            color:$white;
            font-size: 1.5rem;
            @include bp(xl) {
                font-size: 2rem;
            }
        }
        .MuiIconButton-root {
            color: $white;
        }
        .curtain2{
            background-image: url(../../assets/images/bajajpage/Curtain2.png);
        }
        .curtain3{
            background-image: url(../../assets/images/bajajpage/Curtain3.png);
        }
        .curtain5{
            background-image: url('../../assets/images/bajajpage/Curtain5.png');
        }
        .applyNowBtn a{
            background-image: url('../../assets/images/lets-engage-night.png');
            
        }
    }
    .light-theme{
        background: -webkit-gradient(left bottom, right top, color-stop(0%, white), color-stop(100%, #abdefb));
        position: relative;
        width:100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $black;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0;
        .topBgGradient{
            background: url('../../assets/images/topBgGradientDay.png') no-repeat 0 0;
            position: absolute;
            top:0;
            left:0;
            z-index: 1;
            background-size: 100%;
            width: 82%;
            height: 10rem;
            @include bp(m){
                background: url('../../assets/images/topBgGradientDay.png') no-repeat 0 0;
                background-size:100%;
                width: 75%;
                height: 100vh;
            }
            @include bp(l){
                background: url('../../assets/images/topBgGradientDay.png') no-repeat 0 0;
                background-size:100%;
                width: 35%;
                height: 11rem;
            }
            @include bp(xl){
                width: 32%;
                height:12rem;
            }
        }
        .icon-nav{
            color:$textday;
            font-size: 1.5rem;
            @include bp(xl) {
                font-size: 2rem;
            }
        }
        .curtain2{
            background-image: url(../../assets/images/bajajpage/day-Curtain2.png);
        }
        .curtain3{
            background-image: url(../../assets/images/bajajpage/day-Curtain3.png);
        }
        .curtain5{
            background-image: url('../../assets/images/bajajpage/day-Curtain5.png');
        }
        .footer{
            // min-height: 20rem;
        }
        .applyNowBtn a{
            background-image: url('../../assets/images/lets-engage-day.png');
            
        }
        .section3{
            .cardContainer{
                .cardItems1{
                    .card{
                        background-color: rgba(3, 70, 213, 0.2);
                        @include bp-from(m){
                            margin-bottom: 2%;
                        }
                        .number{
                            h4{
                                color: #fff;
                            }
                        }
                    }
                }
                .cardItems2{
                    .card1{
                        background-color: rgba(3, 70, 213, 0.2);
                        @include bp-from(m){
                            margin-bottom: 2%;
                        }
                        .number{
                            h4{
                                color: #fff;
                            }
                        }
                    }
                    .card2{
                        background-color: rgba(3, 70, 213, 0.2);
                        @include bp-from(m){
                            margin-top:2%;
                        }
                        .number{
                            h4,h6{
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }    
        
    nav {
        display: flex;
        width: calc(100% - 2rem);
        padding:1rem 1rem;
        justify-content: space-between;
        position: fixed;
        z-index: 9;
        .makeStyles-root-1 {
            align-items: center;
            display: inherit;
            position: relative;
            z-index: 999;
            .MuiIconButton-root {
                color: $white;
            }
            .makeStyles-content-9 {
                padding: 0px;
                @include bp-between(m, xl) {
                    padding: 24px;
                }
            }
        }
        .themeSwitch {
            align-items: center;
            display: inherit;
            position: fixed;
            z-index: 3;
            right: 5%;
            top: 5%;
            @include bp-from(m) {
                position: fixed;
                right: 5%;
                top: 5%;
            }
        }
        @include bp-from(m){
            padding: 1.5rem;
            width: calc(100% - 3rem);
        }
        @include bp-from(xl){
            padding: 2rem;
            width: calc(100% - 4rem);
        }
    }
    .section1 {
        // flex-direction: column;
        padding: 1rem 2rem;
        z-index: 3;
        position: relative;
        height: 32rem;
        overflow: hidden;
        .ticBgBuilding {
            height: 13.375rem;
            width: 90%;
            position: absolute;
            top: unset;
            bottom: -2%;
            z-index: 1;
            object-fit: contain;
            background-image: url(../../assets/images/TICBgBuilding.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 285% 200%;
            img {
                width: 100%;
                height: 100%;
            }
            @include bp-from(m) {
                height: 22.375rem;
                width: 60.375rem;
                right: 15.2%;
                top: 13%;
                background-size: 250% 200%;
            }
        }
        .introTop{
            width:100%;
            display: block;
            // justify-content:center;
            margin:auto;
            .topImage{
                animation-name: introGirl;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-duration: 5s;
                animation-direction: alternate;
                margin-top: 5rem;
                img {
                    width: 90%;
                    height: 90%;
                    object-fit: contain;
                    opacity: 1;
                }
                @include bp-from(m) {
                    height: 33rem;
                    width: 37rem;
                    right: 10%; 
                    top: 15%;
                    
                }
            }
            .titleText {
                width: 100%;
                font-size: 1rem;
                top:3rem;
                z-index: 3;
                position: relative;
                left:2rem;
                animation-name: introTitle;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-duration: 2s;
                animation-direction: alternate;
                h1{
                    font-family: 'DaxOT Bold';
                    font-size: 1.8rem;
                    @include bp-from(l) {
                        font-size: 2.5rem;
                    }
                    @include bp-from(xl) {
                        font-size: 3.6rem;
                    }
                    span{
                        color:$pink;
                    }
                }
                @include bp-from(m) {
                    width: 40%;
                    top:2rem;
                    left:0;
                }
            }
            @include bp-from(m) {
                width:100%;
                display: flex;
                justify-content:center;
                margin:auto;
            }
        }
        .curtain2{
            height: 100%;
            width: 8%;
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: 100%;
            right: 0;
            position: absolute;
            bottom: 0;
            @include bp-from(m){
                background-size: 100%;   
            }
        }
        @include bp-from(m) {
            flex-direction: row;
            padding: 10rem 5rem;
            height: 40rem;
        }
    }
    .section2 {
        display: flex;
        justify-content: space-between;
        padding: 12rem 2rem 3rem;
        flex-direction: column-reverse;
        position: relative;
        text-align: center;
        overflow: hidden;
        .infoText {
            width: 100%;
            font-size: 0.8rem;
            animation-name: introTitle;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-duration: 2s;
            animation-direction: alternate;
            h2{
                font-family: 'DaxOT Bold';
                font-size: 1.8rem;
                @include bp-from(l) {
                    font-size: 2.5rem;
                }
                @include bp-from(xl) {
                    font-size: 3.6rem;
                }
                span{
                    color:$pink;
                }
            }
            p {
                font-size: 1rem;
                @include bp-from(m) {
                    font-size: 1.2rem;
                    width: 80%;
                    margin: 3rem auto;
                    line-height: 1.8;
                }
            }
            p.weBajaj{
                font-size: 1.1rem;
                @include bp-from(m) {
                    font-size: 1.3rem;
                    width: 80%;
                    margin: 3rem auto;
                    line-height: 1.8;
                }
            }
            h4 {
                font-size: 0.7rem;
                @include bp-from(m) {
                    font-size: 1.87rem;
                }
            }
            @include bp-from(m) {
                font-size: 1.5rem;
            }
        }
        .curtain3{
            height: 100%;
            width: 8%;
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 100%;
            left: 0;
            position: absolute;
            bottom: 0rem;
            @include bp-from(m){
                background-size: 100%;
                bottom: 0rem;
            }
        }
        @include bp-from(m) {
            flex-direction: row;
            padding: 0 8rem 8rem ;
        }
    }

    .section3 {
        overflow: hidden;
        position: relative;
        padding:3rem 1rem;
        height: 68rem;  
        .title {
            font-size: 0.8rem;
            display: flex;
            justify-content: center;
            text-align: center;
            h2{
                font-family: 'DaxOT Bold';
                font-size: 1.8rem;
                @include bp-from(l) {
                    font-size: 2.5rem;
                }
                @include bp-from(xl) {
                    font-size: 3.6rem;
                }
                span{
                    color:$pink;
                }
            }
            @include bp-from(m) {
                font-size: 1.5rem;
            }
        }
        .cardContainer {
            .cardItems1{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 100%;
                margin: 0 auto;
                .card {
                    width: 10rem;
                    height: 6rem;
                    background-color:#0f104c80;
                    border-radius: 0.625rem;
                    display: flex;
                    justify-content: space-around;
                    .number{ 
                        background-color: #5136d9;
                        align-self: center;
                        text-align: center;
                        width: auto;
                        border-radius: inherit;
                        margin: 0 1rem;   
                        h4{
                            align-self: center;
                            font-size: 1.2rem;
                            padding: 1rem;
                            margin: 0px;
                            @include bp-from(m){
                                font-size: 2.5rem;
                            }
                        }
                    }
                    .text{
                        align-self: center; 
                        width:45%;   
                        h4{
                            align-self: center;
                            font-size: 0.8rem;
                            line-height: 1.8;
                            @include bp-from(m){
                                font-size: 1.2rem;
                            }
                        }
                    }
                    @include bp-from(m){
                        width: 18.75rem;
                        height: 7.5rem;
                        margin-bottom: 2%;
                    }
                }
                .card:last-child{
                    
                    margin-top: 10%;
                    @include bp-from(m){
                       margin-top: 0%;     
                    }
                }
                // @include bp-from(m){
                //     margin-bottom: 3%;  
                // }
                @include bp-from(l){
                    margin-bottom: 3%;  
                }
            }
            
            .cardItems2{
                display: flex;
                justify-content: flex-start;
                margin-bottom: 4%;
                position: relative;
                top:20rem;
                .card1{
                    width: 75%;
                    height: 4.5rem;
                    background-color:#0f104c80;
                    border-radius: 0.625rem;
                    display: flex;
                    justify-content: space-around;
                    margin:0 7% 7% 2%;
                    position: relative;
                    .number{ 
                        background-color: #5136d9;
                        align-self: center;
                        text-align: center;
                        width: 80%;
                        border-radius: inherit;
                        margin: 0 auto;
                        position: absolute;
                        top: -1rem;   
                        h4{
                            align-self: center;
                            font-size: 1rem;
                            padding: 0.5rem;
                            margin: 0px;
                            @include bp-from(m){
                                font-size:2.5;
                                padding: 1rem;
                            }
                        }
                    }
                    .text{
                        width: 80%;
                        position: absolute;
                        top: 2rem;
                        text-align: center;  
                        h4{
                            align-self: center;
                            font-size: 0.8rem;
                            margin: 0;
                            @include bp-from(m){
                                font-size: 1rem;
                            }
                        }
                        &.returnequity{
                            top: 3rem;
                            @include bp-from(m){
                                top: 5rem;
                            }
                        }
                        @include bp-from(m){
                            // top: 4rem;
                        }
                        @include bp-from(l){
                            top: 3rem;
                        }
                    }
                    @include bp-from(m){
                        width: 18.75rem;
                        height: 7.5rem;
                        margin: 0 4% 2% 1%;
                    }
                    @include bp-from(xl){
                        margin:0 7% 0 2.5%;
                    }
                }
                .card2{
                    width: 50%;
                    height: 7.5rem;
                    background-color:#0f104c80;
                    border-radius: 0.625rem;
                    display: flex;
                    justify-content: space-around;
                    position: relative;
                    top: -1rem;
                    .number{ 
                        background-color: #5136d9;
                        align-self: center;
                        text-align: center;
                        width: 80%;
                        border-radius: inherit;
                        margin: 0 auto;
                        position: absolute;
                        bottom: 0.8rem;   
                        h4{
                            align-self: center;
                            font-size: 1rem;
                            padding: 0.5rem;
                            margin: 0px;
                            @include bp-from(m){
                                font-size:2.5;
                                padding: 1rem;
                            }
                        }
                        h6{
                            position: absolute;
                            font-size: 1.2rem;
                            margin: 0;
                            bottom: -1rem;
                            right: 0.5rem;
                            transform: rotateZ(-10deg);
                            @include bp-from(m){
                                bottom: 0;
                            }
                        }
                        @include bp-from(m){
                            bottom: 2rem; 
                        }
                    }
                    .text{
                        width: 80%;
                        position: absolute;
                        top: -0.7rem;
                        text-align: center;  
                        h4{
                            align-self: center;
                            font-size: 0.8rem;
                            @include bp-from(m){
                                font-size: 1.2rem;
                            }
                        }
                        @include bp-from(m){
                            top : -1rem
                        }
                    }
                    @include bp-from(m){
                        width: 18.75rem;
                        height: 9.5rem;
                    }
                }
                @include bp-from(m) {
                    top:unset;
                    padding: 0 1rem;
                    display: flex;
                }
                &.item3{
                    display: block;
                    .card1{
                        width: 82%;
                        height: 4.5rem;
                        @include bp-from(m){
                            width: 50%;
                        }
                    }
                    .card2{
                        width: 82%;
                        height: 5.5rem;
                        @include bp-from(m){
                            width: 50%;
                        }
                    }
                    @include bp-from(m){
                        display: flex;
                    }
                }
            }
            .cardItems2.item2{
                display: block;
                .card1:last-child{
                    // transform: rotate(-5deg);
                }
                .card1{
                    width:80%;
                    height: 5rem;
                    @include bp-from(m){
                        width:50%;
                        height: 7rem;
                    }
                }
                @include bp-from(m){
                    display: flex;
                    margin-top: 3%;
                }
            }
            @include bp-from(m){
                width: 80%;
                margin: 0 auto;

            }
            @include bp-from(xl){
                width: 70%;
                margin: 0 auto;

            }
        }
        .girl{
            background-image: url('../../assets/images/bajajpage/girl1.png');
            background-position: center bottom;
            background-size: contain;
            background-repeat: no-repeat;
            width: 4.5rem;
            height: 6.5rem;
            position: absolute;
            bottom: 20%;
            left: 0%;
            z-index: 1;
            opacity: 0.8;
            @include bp-from(m){
                width: 12.5rem;
                height: 12.5rem;
                bottom: 3%;
                left: -10%; 
            }
            @include bp-from(xl){
                left:-11%;
            }
        }
        .man1{
            background-image: url('../../assets/images/bajajpage/Man1.png');
            background-position: center bottom;
            background-size: contain;
            background-repeat: no-repeat;
            width: 12.5rem;
            height: 12.5rem;
            position: absolute;
            z-index: 1;
            right: 30%;
            top: 30%;
            opacity: 0.8;
            @include bp-from(m){
                right: -8%;
                top: 82.5%;
            }
            @include bp-from(l){
                right: 15%;
                top: 66.5%;
            } 
            @include bp-from(xl){
                right: 15%;
                top: 66.5%;
            }    
        }
        .man2{
            background-image: url('../../assets/images/bajajpage/man2.png');
            background-position: center bottom;
            background-size: contain;
            background-repeat: no-repeat;
            width: 12.5rem;
            height: 12.5rem;
            position: absolute;
            z-index: 1; 
            right: 10%;
            top: 35%;
            opacity: 0.8;
            @include bp-from(m){
                right: -19%;
                top: 84%;
            }
            @include bp-from(l){
                right: 6%;
                top: 70%;
            }
            @include bp-from(xl){
                right: 6%;
                top: 70%;
            }
        }
        @include bp-from(m){
            padding:3rem 3rem;
            height:50%;
        }
    }
    .section4 {
        margin:5rem auto 8rem;
        text-align: center;
        position: relative;
        h2{
            font-family: 'DaxOT Bold';
            font-size: 1.8rem;
            overflow-x: hidden;
            @include bp-from(l) {
                font-size: 2.5rem;
            }
            @include bp-from(xl) {
                font-size: 3.6rem;
            }
            span{
                color:$pink;
            }
        }
        h3{
            font-family: 'DaxOT Bold';
            font-size: 1.4rem;
            overflow-x: hidden;
            @include bp-from(l) {
                font-size: 1.7rem;
            }
            @include bp-from(xl) {
                font-size: 2.7rem;
            }
            span{
                color:$pink;
            }
        }
        .planet1{
            display: none;
            @include bp(m) {
                display: block;
                position: absolute;
                background: url('../../assets/images/bajajpage/planet1.png') no-repeat top right;
                width:100px;
                min-height: 101px;
                top: 5%;
                right: 15%;
            }
            @include bp-from(xl) {
                right: 20%;
                display: block;
            }
        }
        
        .groupStructureContainer{
            margin-top:2rem;
            overflow: hidden;
            width:100%;
            position: relative;
            @include bp-from(m) {
                overflow: auto;
            }
        }
    }
    .section5 { 
        margin: auto;
        text-align: center;
        position: relative;
        overflow: hidden;
        h2{
            font-family: 'DaxOT Bold';
            font-size: 1.8rem;
            @include bp-from(l) {
                font-size: 2.5rem;
            }
            @include bp-from(xl) {
                font-size: 3.6rem;
            }
            span{
                color:$pink;
            }
        }
        h3{
            font-family: 'DaxOT Bold';
            font-size: 1.4rem;
            @include bp-from(l) {
                font-size: 2.1rem;
            }
            @include bp-from(xl) {
                font-size: 3.2rem;
            }
            span{
                color:$pink;
            }
        }
        .bflTableContainer{
            width:96%;
            margin:auto;
            padding:0 2% 2%;
            background:rgba(3, 70, 213, 0.2);
            border-radius: 1rem;
            .title{
                background: $white;
                color: $nightTheme;
                font-size: 1.3rem;
                font-family: 'DaxOT Bold';
                border-radius: 1.875rem;
                padding:0.5rem 0;
                margin-top:1rem;
            }
            .table{
                overflow-x: auto;
                width:100%;
                table{
                    width:980px;
                    border:none;
                    text-align: left;
                    thead{
                        tr{
                            th{
                                padding:1rem;
                                text-transform: uppercase;
                                font-family: 'DaxOT Bold';
                                border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
                                text-align: left!important;
                                width:16%!important;
                            }
                        }
                    }
                    tbody{
                        max-height: 440px;
                        tr{
                            td{
                                vertical-align: top;
                                font-weight: normal;
                                text-align: left;
                                width:16%!important;
                                &:first-child{
                                    // width:20.5%!important;
                                    ul{
                                        margin-left: -15px;
                                    }
                                }
                            }
                        }
                        
                    }
                    /* width */
                    ::-webkit-scrollbar {
                        width: 5px;
                        height:5px;
                        opacity: 0.5;
                    }
                    
                    /* Track */
                    ::-webkit-scrollbar-track {
                        background: #f1f1f1; 
                    }
                    
                    /* Handle */
                    ::-webkit-scrollbar-thumb {
                        background: #888; 
                    }
                    
                    /* Handle on hover */
                    ::-webkit-scrollbar-thumb:hover {
                        background: #555; 
                    }
                    @include bp-from(xl) {
                        width:100%;
                    }
                }
                @include bp-from(m) {
                    width:100%;
                }
            }
            /* width */
            ::-webkit-scrollbar {
                width: 5px;
                height:5px;
            }
            
            /* Track */
            ::-webkit-scrollbar-track {
                background: #f1f1f1; 
                opacity: 0.5;
            }
            
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #888; 
                opacity: 0.5;
            }
            
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555; 
            }
            @include bp-from(m) {
                width:980px;
                max-width:calc(100% - 4%);
            }
        } 
    }
    .section6 {
        display: flex;
        justify-content: space-between;
        padding: 0rem 1rem 3rem;
        position: relative;
        text-align: center;
        height: 40rem;
        overflow: hidden;
        .text {
            width: 100%;
            font-size: 0.8rem;
            animation: fadeIn 2s;
            z-index: 3;
            h2 {
                span {
                    color: #c5527f;
                }
            }
            p {
                font-size: 1rem;
                @include bp-from(m) {
                    font-size: 1rem;
                    width: 58%;
                    margin: 1rem auto;
                    line-height: 1.8;
                }
            }
            h4 {
                font-size: 0.7rem;
                @include bp-from(m) {
                    font-size: 1.87rem;
                }
            }
            @include bp-from(m) {
                font-size: 1.5rem;
            }
        }
        .rocket1{
            height: 10rem;
            width: 5rem;
            position: absolute;
            left: 1.5rem;
            bottom: 4%;
            z-index: 1;
            opacity: 0.8;
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 70% 44%;
            animation: launchintro 3s 1 ease-in;
            img {
                width: 100%;
                height: 100%;
            }
            @include bp-between(m, l) {
                height: 22rem;
                width: 12rem;
                left: 1.5rem;
                bottom: 0;
                top: unset;
                background-size: 35% 65%;
            }
            
        }
        .rocketshadow{
            height: 31.375rem;
            width: 22.5rem;
            position: absolute;
            left: 0rem;
            z-index: 0;
            opacity: 1;
            object-fit: cover;
            background-image: url(../../assets/images/bajajpage/rocketshadow.png);
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 40% 40%;
            bottom: 0;
            img {
                width: 100%;
                height: 100%;
            }
            @include bp-between(m, l) {
                height: 33.375rem;
                width: 25.375rem;
                left: 0.5rem;
                bottom: 0;
                top: unset;
                background-size: 55% 75%;
            }
           
        }
        .rocketsmoke{
            height: 31.375rem;
            width: 80%;
            position: absolute;
            left:0;
            z-index: 0;
            opacity: 0.3;
            object-fit: cover;
            background-image: url(../../assets/images/bajajpage/rocketsmoke.png);
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 100% 20%;
            bottom: 0;
            img {
                width: 100%;
                height: 100%;
            }
            @include bp-between(m, l) {
                height: 33.375rem;
                width: 100%;
                left: 0;
                bottom: 0;
                top: unset;
                background-size: 100% 80%;
            }
           
        }
        .dividerbelowrocket{
            height: 31.375rem;
            width: 100%;
            position: absolute;
            left:0;
            bottom:-18%;
            z-index: 0;
            object-fit: cover;
            background-image: url(../../assets/images/bajajpage/dividerbelowrocket.png);
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 100% 20%;
            img {
                width: 100%;
                height: 100%;
            }
            @include bp-between(m, l) {
                height: 33.375rem;
                width: 100%;
                left: 0;
                bottom: -15%;
                top: unset;
                background-size: 100% 20%;
            }
           
        }
        .building{
            height: 31.375rem;
            width: 22.5rem;
            position: absolute;
            right:0;
            z-index: 1;
            opacity: 0.8;
            object-fit: cover;
            background-image: url(../../assets/images/bajajpage/Building.png);
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: 37% 37%;
            bottom: 0;
            img {
                width: 100%;
                height: 100%;
            }
            @include bp-between(m, l) {
                height: 33.375rem;
                width: 25.375rem;
                right: 0;
                bottom: 0;
                top: unset;
                background-size: 50% 50%;
            }
            
        }
        .curtain5{
            width: 12.1875rem;
            height: 12.1875rem;
            position: absolute;
            left: 0%;
            top: -20%;
            background-position: left top;
            background-size:70% 120%;
            background-repeat: no-repeat;
            @include bp-from(m){
                top:-80%;
            }   
        }
        .curtain6{
            width: 2.1875rem;
            height: 2.1875rem;
            position: absolute;
            left: 0%;
            bottom: 0%;
            background-image: url('../../assets/images/bajajpage/Curtain6.png');
            background-position: center right;
            background-size:contain;
            background-repeat: no-repeat;
            @include bp-from(m){
                width: 100%;
                height: 3.1875rem;   
            }   
        }
        @include bp-from(m) {
            flex-direction: row;
            padding: 8rem 8rem ;
            height: 30rem;
        }
    }        
    .section7{
        position: relative;
        padding:5rem 2rem 0;
        text-align: center;
        .title {
            font-size: 0.8rem;
            width:60%;
            margin: 0 auto;
            h2 {
                justify-content: center;
                display: inherit;
                width: 100%;
                span {
                    color: #c5527f;
                    @include bp-from(m){
                        padding-left: 0.5rem;
                    }
                }
            }
            h3{
                justify-content: center;
                display: inherit;
                width: 100%;
                
                span {
                    color: #c5527f;
                    @include bp-from(m){
                        padding-left: 0.5rem;
                    }
                }
            }
            @include bp-from(m) {
                font-size: 1.4rem;
                width: 100%;
                margin: 0;
            }
        }
        @include bp-from(m){
            padding:10rem 3rem 0;     
        }
    }
    .footer{
        // min-height: 20rem;
    }
    .applyNowBtn{
        width:4rem;
        height:4rem;
        position: fixed;
        text-align: center;
        bottom:1.5rem;
        right:1.5rem;
        z-index: 999;
        a{
            border: none;
            width:100%;
            height:100%;
            background-size: 100% 100%;
            transform: scale(2.5);
            color: transparent;
            border-radius: 100%;
            cursor: pointer;
            display: flex;
            text-decoration: none;
            align-items: center;
            @include bp-from(xl) {
                font-size: 1.2rem;
                line-height: 1.3;
            }
        }
        @include bp-from(l) {
            bottom:5rem;
            right:5rem;
        }
        @include bp-from(xl) {
            bottom:8rem;
            right:8rem;
            width:5rem;
            height:5rem;
            text-align: center;
        }
    } 
}

