@import '../../../assets/scss/Variable.scss';
@import '../../../assets/scss/BreakPoint.scss';

.tabContainer{
    width:100%;
    margin:0 auto;
    padding: 2rem 0;
    &.tabP1{
        padding:1rem 0!important;
    }
    .react-tabs{
        &__tab-list{
            display: flex;
            border-bottom: none;
            margin: 0 auto;
            width: 100%;
            border-bottom: 1px solid rgba($color: $grey, $alpha: 0.05);
            color:$textday;
            font-weight: bold;
        }
        &__tab{
            width:100%;
            text-align: center;
            background: transparent;
            border:none;
            bottom:0;
            padding:1rem;
            border-radius: 0.5rem;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            opacity: 0.4;
            &:focus{
                box-shadow:none;
                &:after{
                    height:0;
                }
            }
            &--selected{
                background: $darkBlue;
                border:none;
                opacity: 1;
                color:$textday;
                font-weight: bold;
            }
            &-panel{
                min-height: 15rem;
                background: $darkBlue;
                padding:2rem;
                border-radius: 0 0rem 0.5rem 0.5rem;
                .grid-container {
                    display: grid;
                    grid-template-columns: auto auto;
                    padding: 0 0 0.5rem;
                    word-break: break-all;
                    .grid-item {
                        padding: 1rem;
                        text-align: left;
                        .icon{
                            background: $white;
                            border-radius: 100%;
                            padding: 0.3rem;
                            color: $darkBlue;
                        }
                        div{
                            &:first-child{
                                font-size: 0.775rem;
                                padding-bottom: 0.2rem;
                                @include bp(m){
                                    font-size: 0.875rem;
                                    padding-bottom: 0.5rem;
                                }
                            }
                            &:last-child{
                                font-size: 1rem;
                                @include bp(m){
                                    font-size: 1.25rem;
                                }
                            }
                        }
                    }
                    @include bp(m){
                        grid-template-columns: auto auto auto;
                        word-break: unset;
                    }
                }
                .upload-grid-container {
                    display: grid;
                    grid-template-columns: auto auto auto;
                    padding: 0 0 0.5rem;
                    .upload-grid-item {
                        padding: 1rem;
                        text-align: left;
                        .icon{
                            background: $white;
                            border-radius: 100%;
                            padding: 0.3rem;
                            color: $darkBlue;
                        }
                        div{
                            font-size: 0.775rem;
                            padding-top: 0.2rem;
                        }
                    }
                    @include bp(m){
                        grid-template-columns: auto auto auto auto auto;
                    }
                }
                .info{
                    font-size: 0.875rem;
                    // padding:0 1rem;
                }
                .infoText{
                    margin-top:0.5rem;
                    font-weight: 500;
                    line-height: 1.4;
                    padding:0;
                    @include bp(m){
                        // padding:0 1rem;
                    }
                }
                .infosolution{
                    margin-bottom: 1.5rem;
                }
                .title{
                    font-size: 1.25rem;
                    padding:1rem 0;
                    @include bp(m){
                        padding:1rem;
                    }
                }
                .partner{
                    .grid-container{
                        grid-template-columns: 0.5fr 0.4fr 0.4fr;
                    }
                }
                .grid-container.social{
                    grid-template-columns: 0.5fr 0.4fr 0.4fr;
                }
                .PDFContainer{
                    width:80%;
                    margin:0 auto;
                    // position: absolute;
                    // top: -12rem;
                    // left:10%;
                    // z-index: 99;
                    &_action{
                        display:flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        a.printer{
                            background: unset;
                            opacity: 1;
                            span{
                                font-weight: bold;
                                color:$nightTheme;
                                @include bp-from(l){
                                    color: #191a69b5;
                                }
                                &:hover{
                                    @include bp-from(l){
                                        color: #191a69;
                                    }
                                }
                            }
                        }
                        .MuiButton-text{
                            text-decoration: none;
                            font-weight: bold;
                            color: #191a69;
                            border-top-left-radius: 0.2rem;
                            border-top-right-radius: 0.2rem;
                            padding: 1rem;
                            @include bp-from(l){
                                color: #191a69b5;
                            }
                            &:hover{
                                background: transparent;
                                @include bp-from(l){
                                    color: #191a69;
                                }
                            }
                            
                        }
                        a{
                            background: #dadada;
                            padding: 1rem;
                            text-decoration: none;
                            font-weight: bold;
                            color:$nightTheme;
                            border-top-left-radius: 0.2rem;
                            border-top-right-radius: 0.2rem;
                            opacity: 0;
                            span{
                                font-weight: bold;
                                color:$nightTheme;
                            }
                        }
                        
                        .icon{
                            display:flex;
                            span{
                                margin-left: 1.5rem;
                                font-size: 1.6rem;
                            }
                            a{
                                background: transparent;
                                padding:1.8rem 0.5rem;
                            }
                        }
                        @include bp-from(l){
                            width:100%;
                        }
                    }
                    .react-pdf{
                        &__Document{
                            width: 100%;
                            height: 100vh;
                            overflow-y: scroll;
                        }
                        &__Document + p{
                            display: none;
                        }
                        &__Page{
                            height:1000px;
                            display: block;
                            &__canvas{
                                width:100%!important;
                            }
                        }
                        
                    }
                    @include bp-from(m){
                        // top: -10rem;
                    }
                    @include bp-from(l){
                        // top: -15rem;
                    }
                }
            }
        }
    }
    @include bp(m){
        width:80%;
    }
}

.dark-theme {
    .tabContainer{
        .react-tabs{
            &__tab-list{color:$white;font-weight: bold;}
            &__tab{
                &--selected{color:$white;font-weight: bold;}
            }
        }
        .PDFContainer{
            .MuiButton-text{
                color: #fff;
                @include bp-from(l){
                    color: #ffffffb5;
                }
                &:hover{
                    @include bp-from(l){
                        color: #ffffff;
                    }
                }
                
            }
            a.printer span{
                color: #ffffff;
                @include bp-from(l){
                    color: #ffffffb5;
                }
                &:hover{
                    @include bp-from(l){
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
