@import '../../../../assets/scss/Variable.scss';
@import '../../../../assets/scss/BreakPoint.scss';

.landingContainer{
    .successMsgContainer{
        width:100%;
        .successContainer{
            width: 90%;
            margin: 0 auto;
            position: relative;
            top:50%;
            text-align: center;
            .MuiButton-root{
                text-align: center;
                margin: 0 0.8rem 0.5rem;
                background: rgba(28, 37, 137, 0.7);
                border-radius: 2rem;
                padding: 1rem 2rem;
                color: #fff;
            }
            @include bp(m){
                width: 140%;
            }
        }
    }
}