@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/BreakPoint.scss';

    .learningStep{
        width:100%;
        margin:auto;
        padding:1rem 0.5rem;
        h2{
            font-size:1.2rem;
            @include bp(m){
                font-size:2rem;
            }
        }
        ul{
            list-style: none;
            display: block;
            justify-content: center;
            padding:0;
            li{
                text-align: center;
                margin:0 0.8rem 0.5rem;
                border-radius: 2rem;
                a{
                    padding:1.2rem 1rem;
                    display: block;
                    color: $white;
                    text-decoration: none;
                    font-size: 0.9rem;
                    font-weight: 500;
                    @include bp(m){
                        padding:2rem 3rem;
                        font-size: 1.3rem;
                    }
                }
                &:hover{
                    background: $blue;
                }
                @include bp(m){
                    margin:0 0.8rem;
                }
            }
            @include bp(m){
                display: flex;
                margin:0
            }
            @include bp-from(l){
                margin-top:2.5rem;
            }
        }
        .Validation.resend{
            font-family: 'DaxOT Bold';
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            bottom: 0;
            text-align: center;
            position: fixed;
            left: -700px;
            -webkit-animation: clippyResend 10s infinite both; /* Safari 4.0 - 8.0 */
            animation: clippyResend 10s infinite both;
            animation-iteration-count: 1;
            transition: all 7s ease;
            .resendOTP{
                .validationmsgContainer {
                    .validationmsg{
                        background: $white;
                        position: relative;
                        top: 1.3rem;
                        left: 10rem;
                        margin: 0px 2rem 1rem;
                        padding: 15px;
                        width: 15rem;
                        height: 2rem;
                        border-radius:30px;
                        display: block;
                        color:#1a1b6b;
                        &:before {
                            content: "";
                            position: absolute;
                            right: 94%;
                            top: 45px;
                            width: 40px;
                            height: 30px;
                            border-radius: 50%;
                            box-shadow: 12px 12px 0 0 $white;
                            transform: rotate(-20deg);
                        }
                        .resendLink{
                            color: #c5527f;
                            text-decoration-line: underline;
                        }
                        @include bp-from(m){
                            left:10rem;
                            margin:0 2rem 1rem;
                            padding:15px;
                            width:15rem;
                            height:2.5rem;  
                        }
                        @include bp-from(l){
                            left:10rem;
                            margin:0 2rem 1rem;
                            padding:15px;
                            width:15rem;
                            height:2.5rem;
                        }
                    }
                    img{
                        width:65px;
                    }
                }
            }
            
        }
    }

.dark-theme + .landingContainer{
    .learningStep{
        ul li{
            background: rgba(28, 37, 137, 0.7);
        }
    }
}

.light-theme + .landingContainer{
    .learningStep{
        ul li{
            background: rgba(240, 248, 251, 0.7);
            -webkit-box-shadow: 0px 0px 15px 2px rgba(214,224,235,1);
            -moz-box-shadow: 0px 0px 15px 2px rgba(214,224,235,1);
            box-shadow: 0px 0px 15px 2px rgba(214,224,235,1);
            a{
                color:$textday;
                &:hover{
                    color:$white;
                }
            }
            &:hover{
                background: $blue;
            }
        }
    }
}
@media(min-height:268px) and (max-height:668px) {
    .light-theme .MuiPaper-root .MuiList-root .MuiListItem-root.defaultNav, .light-theme + .landingContainer .MuiPaper-root .MuiList-root .MuiListItem-root.defaultNav{
       position: relative !important;
       bottom:0rem !important; 
     }
 }