@import '../../assets/scss/BreakPoint.scss';

.landingContainer{
    position: absolute;
    top:0;
    left:0;
    z-index:3;
    padding:0rem;
    height: calc(100vh - 0rem);
    width:100%;
    .topContainer{
        z-index: 3;
    }
    @include bp-from(m){
        height: calc(100vh - 0rem);
    }
}