@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/BreakPoint.scss';


.fistAnimationContainer{
    width: 380px;
    text-align: center;
    .fistUp{
        margin:0% auto -3%;
        height: 3rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .icon-sparkup{
            position: relative;
            -webkit-animation: fistup 2s infinite; /* Safari 4.0 - 8.0 */
            animation: fistup 2s infinite;
            animation-delay: 0.3s;
            opacity: 0;
            font-size: 2rem;
        }
    }
    .fistAnimation{
        display: flex;
        justify-content: center;
        align-items: center;
        .left{
            position: relative;
            -webkit-animation: moveleft 5s infinite; /* Safari 4.0 - 8.0 */
            animation: moveleft 2s infinite;
        }
        .right{
            position: relative;
            -webkit-animation: moveright 5s infinite; /* Safari 4.0 - 8.0 */
            animation: moveright 2s infinite;
        }
        img{
            width:100px;
            @include bp(m){
                width:150px;
            }
        }
    }
    .fistDown{
        margin:-10% auto 0;;
        height: 3rem;
        .icon-sparkdown{
            position: relative;
            -webkit-animation: fistdown 2s infinite; /* Safari 4.0 - 8.0 */
            animation: fistdown 2s infinite;
            animation-delay: 0.3s;
            opacity: 0;
            font-size: 2rem;
        }
    }
    .title{
        height: 3rem;
        font-size:2.5rem;
        font-family: 'DaxOT Bold';
    }
}
@keyframes fistup {
    0%{ opacity: 0; top:0%;}
    30%{ opacity: 1; top:-15%;}
    40%{ opacity: 0.5; top:-5%;}
    50%{ opacity: 1; top:-15%;}
    70%{ opacity: 0; top:-5%;}
    100%{ opacity: 0; top:0%;}
}
@keyframes fistdown {
    0%{ opacity: 0; top:0%;}
    30%{ opacity: 1; top:15%;}
    40%{ opacity: 0.5; top:5%;}
    50%{ opacity: 1; top:15%;}
    70%{ opacity: 0; top:5%;}
    100%{ opacity: 0; top:0%;}
}
@keyframes moveleft {
    0% {left:-7%;}
    30% {left: 2%; transition: all 0.3s ease-in-out; 
        transform: rotateY(0deg) rotateX(10deg);}
    // 45% {left:2%;}
    60% {left: 1.2%; transition: all 0.3s ease-in-out; 
        transform: rotateY(0deg) rotateX(10deg);}
    70% {left:1%;}
    100% {left:-7%;}
}
@keyframes moveright {
    0% {right: -7%;}
    30% {right: 1.2%; transition: all 0.3s ease-in-out; 
        transform: rotateY(0deg) rotateX(10deg);}
    // 45% {right: 1%;}
    60% {right: 1.2%; transition: all 0.3s ease-in-out; 
        transform: rotateY(0deg) rotateX(10deg);}
    70% {right: 1%;}
    100% {right: -7%;}
}