@import '../../assets/scss/BreakPoint.scss';
@import '../../assets/scss/Variable.scss';

.animation-text{
    text-align: center;
    font-size:21px;
    font-family: 'DaxOT Bold';
    height: 5.5rem;
    margin-top: -1rem;
    @include bp-from(m) {
        font-size:2.5rem;
        height: 7rem;
        margin-top: 0;
    }
    @include bp-from(l){
        height: 3rem;
        margin-top: 0;
    }
}
.welcome{
    width: 60%;
}
.light-theme  + .landingContainer{
    .animation-text{
        color:$textday;
    }
}