@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/BreakPoint.scss';

.landingContainer{
    position: absolute;
    top:0;
    left:0;
    z-index:3;
    padding:0rem;
    height: calc(100vh - 0rem);
    width:100%;
}
[role="presentation"]{
    overflow-y: scroll;
    overflow-x: hidden;
    .PDFContainer{
        width:90%;
        margin:0 auto;
        // position: absolute;
        // top: -12rem;
        // left:10%;
        // z-index: 99;
        &_action{
            display:flex;
            justify-content: space-between;
            align-items: flex-end;
            a.printer{
                background: unset;
                opacity: 1;
                span{
                    font-weight: bold;
                    color:$nightTheme;
                    @include bp-from(l){
                        color: #191a69b5;
                    }
                    &:hover{
                        @include bp-from(l){
                            color: #191a69;
                        }
                    }
                }
            }
            .MuiButton-text{
                text-decoration: none;
                font-weight: bold;
                color: #191a69;
                border-top-left-radius: 0.2rem;
                border-top-right-radius: 0.2rem;
                padding: 1rem;
                @include bp-from(l){
                    color: #191a69b5;
                }
                &:hover{
                    background: transparent;
                    @include bp-from(l){
                        color: #191a69;
                    }
                }
                
            }
            a{
                background: #dadada;
                padding: 1rem;
                text-decoration: none;
                font-weight: bold;
                color:$nightTheme;
                border-top-left-radius: 0.2rem;
                border-top-right-radius: 0.2rem;
                opacity: 1;
                span{
                    font-weight: bold;
                    color:$nightTheme;
                }
            }
            
            .icon{
                display:flex;
                span{
                    margin-left: 1.5rem;
                    font-size: 1.6rem;
                }
                a{
                    background: transparent;
                    padding:1.8rem 0.5rem;
                }
            }
            @include bp-from(l){
                width:100%;
            }
        }
        .react-pdf{
            &__Document{
                width: 100%;
                height: 100vh;
               
            }
            &__Document + p{
                display: none;
            }
            &__Page{
                height:1000px;
                display: block;
                &__canvas{
                    width:100%!important;
                }
            }
            
        }
        @include bp-from(l){
            width: 60%;
        }
        
    }
}
::-webkit-scrollbar {
    width: 5px;
    height:5px;
}
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.example-appear {
    opacity: 1;
    transform: translateY(0%);
    &.example-appear-active {
        opacity: 0;
        transition: all 0.2s ease-in;
        transform: translateY(50%);
    }
}

// .inputanim-appear {
//     opacity: 1;
//     transform: translateY(0%);
//     &.inputanim-appear-active {
//         opacity: 0;
//         transition: all 0.2s ease-in-out;
//         transform: translateY(50%);
//     }
// }

