@import '../../../assets/scss/Variable.scss';
@import '../../../assets/scss/BreakPoint.scss';

.light-theme{
    .cloudContainer{
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        // background: #abcdef;
        .cloud1{
            position: absolute;
            top:10%;
            right: 0;
            background: url('../../../assets/images/cloud.png') no-repeat top right;
            display: block;
            width: 60%;
            height: 60%;
            opacity: 0.2;
            background-size: contain;
            animation-name: cloud1;
            animation-duration: 50s;
            animation-timing-function: linear;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: normal;
        }
        .cloud2{
            position: absolute;
            top:10%;
            right: -15%;
            background: url('../../../assets/images/cloud.png') no-repeat top right;
            display: block;
            width: 20%;
            height: 20%;
            opacity: 0.4;
            background-size: contain;
            animation-name: cloud2;
            animation-duration: 70s;
            animation-timing-function: linear;
            animation-delay: 5s;
            animation-iteration-count: infinite;
            animation-direction: normal;
        }
        .cloud3{
            position: absolute;
            top:0;
            right:-100%;
            background: url('../../../assets/images/cloud.png') no-repeat top right;
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            background-size: contain;
            animation-name: cloud3;
            animation-duration: 80s;
            animation-timing-function: linear;
            animation-delay: 10s;
            animation-iteration-count: infinite;
            animation-direction: normal;
        }
    }
}
  @keyframes cloud1 {
    0%{
      right:0%;
    }
    100%{
      right:100%;
    }
  }
  @keyframes cloud2 {
    0%{
      right:-15%;
    }
    100%{
      right:100%;
    }
  }
  @keyframes cloud3 {
    0%{
      right:-100%;
    }
    100%{
      right:100%;
    }
  }