@import '../../../assets/scss/Variable.scss';
@import '../../../assets/scss/BreakPoint.scss';


.dark-theme{
    .starContainer1{
        position: fixed;
        width: 140%;
        height: 100vh;
        animation-name: starone;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        left:5%;
        top:5%;
        @include bp(m){
          width: 80%;
          height: 80vh;
        }
    }
    .starContainer2{
        position: fixed;
        width: 150%;
        height: 100vh;
        animation-name: startwo;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-delay: 5s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        left:25%;
        top:25%;
        opacity: 0;
        @include bp(m){
          width: 70%;
          height: 70vh;
        }
    }
    .starContainer3{
        position: fixed;
        width: 160%;
        height: 100vh;
        animation-name: starthree;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-delay: 10s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        left:35%;
        top:35%;
        opacity: 0;
        @include bp(m){
          width: 90%;
          height: 90vh;
        }
    }
    .star1:before{
        content: '';
        width:3px;
        height: 3px;
        background: #FFF;
        position: absolute;
        top:40%;
        left:40%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        border-radius: 100%;
    }
    .star1:after{
        content: '';
        width:4px;
        height: 4px;
        background: #FFF;
        position: absolute;
        top: 52%;
        left: 11%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        border-radius: 100%;
    }
    .star2:before{
        content: '';
        width:3px;
        height: 3px;
        background: #FFF;
        position: absolute;
        top:13%;
        left:18%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        border-radius: 100%;
    }
    .star2:after{
        content: '';
        width:4px;
        height: 4px;
        background: #FFF;
        position: absolute;
        top:22%;
        left:48%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        border-radius: 100%;
    }
    .star3:before{
        content: '';
        width:3px;
        height: 3px;
        background: #fff;
        position: absolute;
        top:92%;
        left:30%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        border-radius: 100%;
    }
    .star3:after{
        content: '';
        width:3px;
        height:3px;
        background: #FFF;
        position: absolute;
        top:80%;
        left:58%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        border-radius: 100%;
    }
    .star4:before{
        content: '';
        width:3px;
        height: 3px;
        background: #FFF;
        position: absolute;
        top:33%;
        left:22%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        border-radius: 100%;
    }
    .star4:after{
        content: '';
        width:4px;
        height:4px;
        background: #FFF;
        position: absolute;
        top:68%;
        left:80%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        border-radius: 100%;
    }
    .star5:before{
        content: '';
        width:4px;
        height: 4px;
        background: #FFF;
        position: absolute;
        top:20%;
        left:80%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        border-radius: 100%;
    }
    .star5:after{
        content: '';
        width:4px;
        height:4px;
        background: #FFF;
        position: absolute;
        top:80%;
        left:20%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        border-radius: 100%;
    }   
}

// Star Animation

@keyframes starone {
    0%{
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
    70%{
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 1;
    }
    100%{
      -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
      transform: scale(1.25);
      opacity: 0;
      filter: brightness(150%);
    }
  }
  @keyframes startwo {
    0%{
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
    80%{
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 1;
    }
    100%{
      -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
      transform: scale(1.25);
      opacity: 0;
      filter: brightness(150%);
    }
  }
  @keyframes starthree {
    0%{
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
    90%{
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
      opacity: 1;
    }
    100%{
      -webkit-transform: scale(1.32);
      -ms-transform: scale(1.32);
      transform: scale(1.32);
      opacity: 0;
    }
  }
