@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/BreakPoint.scss';
@import '../../assets/scss/Animation.scss';

// .dark-theme, .light-theme{
    
// } 
.modelContainer{
    width:100%;
    height:100%;
    background: transparent;
    display: flex;
    align-content: center;
    h1{
        margin:0.5rem 1rem;
        text-align: left;
        font-size:1.5rem;
    }
    h2{
        margin:3rem 2rem 0.5rem;
        text-align: left;
        font-size:1.5rem;
        input{
            padding:0.7rem 1rem;
            width:calc(100% - 2rem);
        }
    }
    .model{
        max-height: 450px;
        overflow-y: auto;
        max-width: 800px;
        width:95%;
        margin:auto;
        background: #fff;
        position: relative;
        min-height: 350px;
        button.close{
            padding: 0.4rem;
            font-size: 2rem;
            position: absolute;
            top: 0rem;
            right: 0rem;
            border-radius: 100%;
            cursor: pointer;
            border: none;
            background: transparent;
            font-weight: bold;
            cursor: pointer;
            span{
                font-weight: bold;
            }
        }
        p{
            padding:0rem 2rem 1rem;
            textarea{
                padding:0.7rem 1rem;
                width:calc(100% - 2rem);
                height: 200px;
                resize: none;
            }
        }
        .submit{
            text-align: center;
            margin: 1% auto;
            button{
                background: #5136d9;
                color:#fff;
                padding:0.5rem 2rem;
                border-radius: 0.5rem;
                border:1px solid #fff ;
                cursor: pointer;
            }
        }
        .table-container{
            width:90%;
            margin: 2rem auto 0px;
            table{
                border:none;
                width:100%;
                thead{
                    tr{
                        background: #fff;
                        th{
                            font-size: 1rem;
                            font-weight: bold;
                            padding:0.7rem;
                            text-align: left;
                        }
                    }
                }
                tbody{
                    tr{
                        cursor: pointer;
                        td{
                            font-size: 1rem;
                            padding:0.7rem 0 0.7rem 1rem;
                            &:first-child{
                                
                            }
                            &:nth-child(2){
                                width:60%;
                            }
                        }
                        
                        &:last-child{
                            text-align: right;
                            textarea{
                                margin: 0rem 1rem;
                                width: 35rem;
                                height: 2rem;
                                resize: none;
                            }
                            button{
                                background: blue;
                                padding:0.8rem 2.5rem;
                                color: #fff;
                                text-decoration: none;
                                border-radius: 0.2rem;
                                font-size: 0.8rem;
                                line-height: 1;
                                vertical-align: top;
                                border:none;
                                cursor: pointer;
                            }
                            .uploadContainer{
                                display: block;
                                margin:1rem auto;
                                text-align: center;
                                .filepond--wrapper{
                                    width: 90%;
                                    height:200px;
                                    margin:auto;
                                    overflow: auto;
                                    .filepond--file{
                                        &-action-button{
                                            background: transparent;
                                            &:after{
                                                top: -0.30em;
                                                bottom: -.75em;
                                                content: "x";
                                                font-size: 2rem;
                                            }
                                        }
                                    }
                                }
                                button{
                                    margin-left:1rem;
                                    height: 2.5rem;
                                }
                            }
                        }
                        
                    }
                }
            }
            .title{
                padding:1rem;
                font-weight: bold;
            }
            input[type="file"]{
                margin:1rem 1rem 0;
            }
            input[type="submit"]{
                background: blue;
                color:#fff;
                padding:0.5rem 1rem;
                border:none;
                cursor: pointer;
            }
            .upload-grid-container {
                display: grid;
                grid-template-columns: auto auto auto;
                padding: 0 0 0.5rem;
                .upload-grid-item {
                    padding: 1rem;
                    text-align: left;
                    .icon{
                        background: $white;
                        border-radius: 100%;
                        padding: 0.3rem;
                        color: $darkBlue;
                    }
                    div{
                        font-size: 0.775rem;
                        padding-top: 0.2rem;
                    }
                }
                @include bp(m){
                    grid-template-columns: auto auto auto auto auto;
                }
            }
        }
    }
}
thead{
    flex: 99999 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    tr{
        flex: 1 0 auto;
        display: inline-flex;
        text-align: center;
        th{
            text-align: center ;
            font-weight: bold;
        }
        th:first-child{
            width: 20%;
        }
        th:nth-child(2){
            width:20%;
        }
    }
}
tbody{
    flex: 99999 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 200px;
    tr{
        flex: 1 0 auto;
        display: inline-flex;
        text-align: center;
        td{
            text-align: left;
        }
        td:first-child{
            width: 20%;
        }
        td:nth-child(2){
            width:20% !important;
        }
    }
}
.reply{
    margin: 20px auto;
    width: 100%;
    textarea{
        width: 96%;
        margin: 0rem 1rem;
        height: 10rem;
        resize: none;
    }
    button{
        background: blue;
        padding: 0.8rem 2.5rem;
        color: #fff;
        text-decoration: none;
        border-radius: 0.2rem;
        font-size: 0.8rem;
        line-height: 1;
        vertical-align: top;
        border: none;
        cursor: pointer;
    }
    .upload-container{
        margin: 10px auto 20px;
        width:90% ;
    }
}
