@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/BreakPoint.scss';


.modelContainer{
    h1{
        text-align: center;
    }
    h2{
        margin-top: 1rem;
    }
    .descri-box{
        position: relative;
        padding-bottom: 0!important;
        textarea{
            padding:0.5rem 1rem;
            width: calc(100% - 2rem);
        }
        .submit{
            position: absolute;
            bottom: 1rem;
            right: 3rem;
            button{
                border:none!important;
                color:$nightTheme;
            }
        }
    } 
    .model {
        h2{
           margin: 3rem 1rem 0.5rem;
           @include bp-from(m) {
            margin: 3rem 2rem 0.5rem;
           }
        }
        p{
            padding: 0rem 1rem 1rem;
            @include bp-from(m) {
                padding: 0rem 2rem 1rem;
            }
        }
        .submit button {font-weight:600;}
    }
    button.create-btn {
        margin: 1rem 2rem 0;
        border:none;
        padding:0.7rem 1.5rem;
        border-radius: 0.2rem;
        color:$white;
        font-size: 0.8rem;
    }
    button.create-btn-enable {
        margin: 1rem 2rem 0;
        border:none;
        padding:0.7rem 1.5rem;
        border-radius: 0.2rem;
        color:$white;
        font-size: 0.8rem;
    }
    .query-list{
        margin:1rem 0rem;
        padding:0 1rem 1rem;
        .title{
            font-size: 0.8rem;
            font-family: 'DaxOT Medium';
            margin-bottom: 0.5rem;
        }
        table{
            width: 100%;
            border-radius: 0.2rem;
            padding:0.7rem;
            font-size: 0.8rem;
            thead, tbody{
                width: 100%;
                tr{
                    th{
                        margin-bottom: 0.2rem;
                    }
                    th, td{
                        width:20%;
                        text-align: left;
                        &:first-child{
                            width:20%;
                        }
                        &:nth-child(2){
                            width:40%!important;
                            @include bp-from(m) {
                                width:60%!important;
                            }
                        }
                        
                        @include bp-from(m) {
                            width:10%;
                        }
                    }
                }
            }
        }
        @include bp-from(m) {
            padding:0 2rem;
        }
    }
}
.dark-theme{
    .model{
        background: $table;
        color: #fff;
        button.create-btn {
            background: $nightTheme;
        }
        button.create-btn-enable {
            background-color: #fff;
            color: $nightTheme;
        }
        button.create-btn.active {
            background: $white;
            color: $nightTheme;
            font-weight: 600;
        }
        .query-list table{
            background: $nightTheme;
        }
        .submit button{
            background: $white;
            border:none;
        }
        .table-container{
            margin-top: 2rem;
            width: 90%;
            margin: 2rem auto 0;
            
            table{
                background: #0f104c;
                border-radius: 6px;
            }
            thead{
                tr{
                    background: #0f104c  !important ;
                }
            }
            
            .reply{
                button{
                    position: absolute;
                    right: 8%;
                    top: 56%;
                }
                button,input[type="submit"]{
                    background: #fff;
                    color: #5136d9;
                }
                textarea{
                    background: #0f104c;
                    color: #fff;
                    border-color: #fff3;
                    margin: 0px;
                    border-radius: 6px;
                    padding: 0.8rem;
                    &::placeholder{
                        color: #fff;
                    }
                }
            }
        }
        .icon-close{
            color: #fff;
        }
        #simple-modal-title{
            input{
                background: $nightTheme;
                border-radius: 0.2rem;
                color: #fff;
                border:0;
                &::placeholder{
                    color: #fff;
                }
            }
               
        }
        #simple-modal-description{
            textarea{
                background: $nightTheme;
                border-radius: 0.2rem;
                color: #fff;
                border-color: #fff3;
                height:120px;
                &::placeholder{
                    color: #fff;
                }
            }
        }
    }
} 

.light-theme{
    .model{
        background: linear-gradient(45deg, white 0%, #b7e1f9 100%);
        color: #373737;
        button.create-btn {
            background:rgba(3, 70, 213, 0.6);
        }
        button.create-btn-enable{
            background:rgba(3, 70, 213, 0.6);
        }
        .query-list table{
            background:$white;
            border:rgba(3, 70, 213, 0.3) 1px solid;
        }
        .submit button{
            background: $white;
            border:rgba(3, 70, 213, 0.3) 1px solid!important;
        }
        .table-container{
            table{
                background: #fff;
                border-radius:6px
            }
            thead{
                tr{
                    background: rgba(3, 70, 213, 0.2);
                }
            }
            
            .reply{
                button{
                    position: absolute;
                    right: 8%;
                    top: 56%;
                }
                button,input[type="submit"]{
                    background:rgba(3, 70, 213, 0.6) !important;
                    color: #fff;
                }
                textarea{
                    background:#fff !important;
                    color: #373737;
                    padding: 0.8rem ;
                    border-radius: 6px;
                    border-color:rgba(3, 70, 213, 0.3);
                    margin: 0px;
                    border-radius: 6px;
                    &::placeholder{
                        color: #373737;
                    }
                }
            }
        }
        .icon-close{
            color: #373737;
        }
        #simple-modal-title{
            input{
                background: #fff;
                color: #373737;
                border-radius: 0.2rem;
                border-color:rgba(3, 70, 213, 0.3);
                &::placeholder{
                    color: #373737;
                }
            }
            
            
        }
        #simple-modal-description{
            textarea{
                background:#fff !important;
                color: #373737;
                border-color:rgba(3, 70, 213, 0.3);
                border-radius: 0.2rem;
                height: 120px;
                &::placeholder{
                    color: #373737;
                }
            }
        }
    }
} 