@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/BreakPoint.scss';
@import '../../assets/scss/Animation.scss';
@import '../../assets/scss/Fonts.scss';

.query{
    // min-height: 100vh;
    height:100%;
    .dark-theme{
        background: rgba(21,38,135,1);
        background: -moz-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(21,38,135,1)), color-stop(56%, rgba(25,25,103,1)), color-stop(100%, rgba(26,23,100,1)));
        background: -webkit-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: linear-gradient(135deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152687', endColorstr='#1a1764', GradientType=1 );
        position: relative;
        width:100%;
        height: 100%;
        min-height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        scroll-behavior: smooth ;
        color:$white;
        box-sizing: border-box;
        padding: 0;
        .topBgGradient{
            background: url('../../assets/images/topBgGradient.png') no-repeat 0 0;
            position: absolute;
            top:0;
            left:0;
            z-index: 1;
            background-size: 100%;
            width: 82%;
            height: 10rem;
            @include bp(m){
                background: url('../../assets/images/topBgGradient.png') no-repeat 0 0;
                background-size:100%;
                width: 35%;
                height: 11rem;
            }
            @include bp(xl){
                width: 32%;
                height:12rem;
            }
        }
        
        nav{
            .back{
                background:rgba($color: $nightTheme, $alpha: 1);
                .icon-prev{
                    font-size: 1rem;
                }
            }
        }
        .action-container{
            button{
                background: $table;
                color: $white;
            }
        }
        .ReactTable{
            background:$table;
            color: $white;
            .-pagination{
                .-btn{
                    color:rgba($color: $white, $alpha: 0.3);
                }
            }
        }
    }
    .light-theme{
        background: -webkit-gradient(left bottom, right top, color-stop(0%, white), color-stop(100%, #abdefb));
        position: relative;
        width:100%;
        height: 100%;
        min-height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $black;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0;
        .topBgGradient{
            background: url('../../assets/images/topBgGradientDay.png') no-repeat 0 0;
            position: absolute;
            top:0;
            left:0;
            z-index: 1;
            background-size: 100%;
            width: 82%;
            height: 10rem;
            @include bp(m){
                background: url('../../assets/images/topBgGradientDay.png') no-repeat 0 0;
                background-size:100%;
                width: 35%;
                height: 11rem;
            }
            @include bp(xl){
                width: 32%;
                height:12rem;
            }
        }
        nav{
            .back{
                background:rgba($color: $textday, $alpha: 0.5);
                .icon-prev{
                    font-size: 1rem;
                }
            }
        }
        .action-container{
            button{
                background: rgba($color: $blue, $alpha: 0.2);
                color: #373737;
            }
        }
        .ReactTable{
            background: rgba($color: $blue, $alpha: 0.2);
            color: $textdaygrey;
            .-pagination{
                .-btn{
                    color:rgba($color: $textday, $alpha: 0.3);
                }
            }
        }
    }    
        
    nav {
        display: flex;
        width: calc(100% - 3rem);
        justify-content: space-between;
        position: absolute;
        padding: 1rem;
        z-index: 9;
        .makeStyles-root-1 {
            align-items: center;
            display: inherit;
            position: relative;
            z-index: 999;
            .MuiIconButton-root {
                color: $white;
            }
            .makeStyles-content-9 {
                padding: 0px;
                @include bp-between(m, xl) {
                    padding: 24px;
                }
            }
        }
        .back{
            border-radius: 100%;
            div{
                text-decoration: none;
                color:$white;
                padding:0.6rem 0.8rem;
                display: block;
            }
        }
        .themeSwitch {
            align-items: center;
            display: inherit;
            position: fixed;
            z-index: 3;
            right: 5%;
            top: 5%;
            @include bp-from(m) {
                position: fixed;
                right: 5%;
                top: 5%;
            }
        }
        @include bp-from(m){
            padding: 1.5rem;
            width: calc(100% - 3rem);
        }
        @include bp-from(xl){
            padding: 2rem;
            width: calc(100% - 4rem);
        }
    }
    .action-container{
        display: flex;
        justify-content: flex-start;
        margin: 20% auto 0;
        width: 80%;
        position: absolute;
        left: 10%;
        button{
            border: none;
            padding: 1rem 3rem;
            font-size: 1rem;
            color:$nightTheme;
            cursor: pointer;
            border-radius: 0.3rem;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
            background: linear-gradient(180deg, rgba(243,243,250,1) 0%, rgba(242,242,249,1) 32%, rgba(210,239,252,0.9976365546218487) 100%);
            position: relative;
            z-index: 99;
        }
        @include bp-from(m){
            margin: 6% auto 0;
        }
    }
    .ReactTable .rt-thead .rt-th,.ReactTable .rt-tbody .rt-td{
        border:unset 
    }
    .ReactTable{
        width:80%;
        margin:38% auto 0;
        position: absolute;
        z-index: 1;
        left:10%;
        height: 400px;
        border-radius: 0.3rem;
        .rt-table{
            overflow-x: hidden;
            /* width */
            ::-webkit-scrollbar {
                width: 5px;
                height:5px;
            }
            /* Track */
            ::-webkit-scrollbar-track {
                background: rgba($color: #f1f1f1, $alpha: 0.5); 
            }
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #888; 
            }
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: rgba($color: #555, $alpha: 0.5) ; 
            }
            .rt-thead.-header{
                box-shadow: none;
                .rt-tr{
                    cursor: unset;
                    .rt-th{
                        text-align: left;
                        font-weight: bold;
                        padding:1rem 0.8rem;
                        cursor: unset;
                    }
                }
            }
            .rt-tbody{
                .rt-tr-group{
                    .rt-tr{
                        cursor: pointer;
                    }
                    border-bottom: none;
                    .rt-td{
                        padding: 0.5rem 0.8rem;
                        font-weight: normal;
                    }
                }
            }
        }
        .-pagination{
            input, select{
                background:rgba($color: $white, $alpha: 0.3);
            }
        }
        .rt-noData{
            background:rgba($color: $white, $alpha: 0.3);
        }
        @include bp(m){
            margin:12% auto 0;
        }
        @include bp-from(xl){
            margin:10% auto 0;
            height: 600px;
        }
    }
}