@import '../../../assets/scss/Variable.scss';
@import '../../../assets/scss/BreakPoint.scss';
@import '../../../assets/scss/Animation.scss';
@import '../../../assets/scss/Fonts.scss';

.introTOBajaj{
    .light-theme{
        .groupStructure.react-multi-carousel-list{
            ul.react-multi-carousel-track{
                li.react-multi-carousel-item{
                    .item1,.item2,.item3,.item4{
                        div{
                            background:#5136d9;
                            border: 0.125rem solid #5136d9;
                        }
                        
                    }
                    
                    
                }
                
            }
            
            
            
        }
    }
}


    .groupStructure.react-multi-carousel-list{
        margin:2rem auto;
        text-align: center;
        position: unset;
        color:$white;
        font-size: 0.8rem;
        width: 950px;
        ul.react-multi-carousel-track{
            background: url('../../../assets/images/bajajpage/groupStructureBg.png') no-repeat 0rem 5rem;
            display: block!important;
            width:calc(100% - 10rem);
            margin-left: 10rem;
            background-size: auto;
            li.react-multi-carousel-item{
                width:100%!important;
                .item1{
                    display: flex;
                    justify-content: center;
                    margin-left: 10rem;
                    div{
                        width:9rem;
                        border:0.125rem solid $skyblue;
                        background:$nightTheme;
                        padding:1rem;
                        border-radius: 5rem;
                    }
                    @include bp-from(m) {
                        margin-left: 0;
                    }
                }
                .item2{
                    margin:2rem 4rem;
                    display: flex;
                    justify-content: space-around;
                    div{
                        width:10rem;
                        border:0.125rem solid $skyblue;
                        background:$nightTheme;
                        padding:1rem;
                        border-radius: 5rem;
                        margin-right: -12rem;
                        @include bp-from(m){
                            margin-right: 0;
                        }
                    }
                    @include bp-from(m) {
                        margin-top:2rem;
                        margin-left: 0%;
                        padding-left: 10%;
                        background: url('../../../assets/images/bajajpage/planet2.png') no-repeat top left;
                        min-height: 95px;
                    }
                    @include bp-from(xl) {
                        margin-left: -5%;
                        padding-left: 15%;
                    }
                }
                .item3{
                    display: flex;
                    justify-content: space-between;
                    margin: 3.5rem 4rem 2.5rem;
                    width: 900px;
                    div{
                        width:12rem;
                        border:0.125rem solid $skyblue;
                        background:$nightTheme;
                        padding:1rem;
                        border-radius: 5rem;
                        @include bp-from(m){
                            width:10rem;
                        }
                    }
                    @include bp-from(m) {
                        margin: 2rem 1rem 1.5rem 4rem;
                        justify-content: space-around;
                    }
                }
                .item4{
                    margin-top:1.5rem;
                    display: flex;
                    justify-content: left;
                    div{
                        width:12rem;
                        border:0.125rem solid $skyblue;
                        background:$nightTheme;
                        padding:1rem;
                        border-radius: 5rem;
                        margin-right:15rem;
                        margin-left:-5rem;
                        @include bp-from(m){
                            width:10rem;
                            margin-left: 0;
                            margin-right: 5rem;
                        }
                    }
                    
                }
            }
            @include bp(m) {
                margin-left:0;
                width:100%;
                background: url('../../../assets/images/bajajpage/groupStructureBg.png') no-repeat 0rem 6rem;
            }
        }
        .react-multiple-carousel__arrow{
            min-width: 50px;
            min-height: 50px;
        }
        .react-multiple-carousel__arrow--right{
            right: 5%;
            position: absolute;
            @include bp(l) {
                opacity: 0;
            }
        }
        @include bp(m) {
            font-size: 1rem;
        }
    }
    .next,.prev{
        z-index: 20;
        width: 3rem;
        height: 3rem;
        background: #301c92;
        opacity: 0.8;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 1.5rem;
        border-radius: 100%;
        padding: 0.3rem;
        cursor: pointer;
    }
    .next{
        position: absolute;
        right:0;
        top:50%;     
    }
    .prev{
        position: absolute;
        left:0;
        top:50%;
    }