@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/BreakPoint.scss';
@import '../../assets/scss/Animation.scss';



.whySpaceBid{
    overflow: hidden;   
        
    nav {
        display: flex;
        width: calc(100% - 3rem);
        justify-content: space-between;
        position: fixed;
        padding: 1rem;
        z-index: 9;
        
        .makeStyles-root-1 {
            align-items: center;
            display: inherit;
            position: relative;
            z-index: 999;
            .MuiIconButton-root {
                color: $white;
            }
            .makeStyles-content-9 {
                padding: 0px;
                @include bp-between(m, xl) {
                    padding: 24px;
                }
            }
        }
        .MuiButtonBase-root{
            @include bp(m) {
                padding:2rem 0 0 1rem;
            }
            @include bp(xl) {
                padding:2rem 0 0 2rem;
            }
        }
        .themeSwitch {
            align-items: center;
            display: inherit;
            position: fixed;
            z-index: 3;
            right: 5%;
            top: 5%;
            @include bp-from(m) {
                position: fixed;
                right: 5%;
                top: 5%;
            }
        }
        @include bp-from(m){
            padding: 0.5rem 2rem;
            width: calc(100% - 4rem);
        }
    }
    .section1 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 1.5rem 2rem;
        z-index: 3;
        position: relative;
        height: 40rem;
        .topGrandient {
            height: 31.375rem;
            width: 25.5rem;
            position: absolute;
            left: -3.9rem;
            top: -2rem;
            z-index: 1;
            opacity: 0.8;
            object-fit: cover;
            background-position:top left ;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            @include bp(m) {
                height:41.5rem;
                width: 33.375rem;
                left: 0;
                top: 0;
                background-size: 100% 100%;
            }
            @include bp(l) {
                width: 38rem;
            }
            @include bp-from(xl) {
                width: 50%;
                height: 50rem;
                background-size: 100% 100%;
            }
        }
        .planet {
            height: 17.375rem;
            width: 10.375rem;
            position: absolute;
            left: 9.2%;
            top: 25.2%;
            z-index: 1;
            opacity: 0;
            background-image: url(../../assets/images/planet.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            @include bp(m) {
                top: 18%;
            }
            @include bp-from(l) {
                height: 5.375rem;
                width: 5.375rem;
                left: 40%;
                top: 28%;
                opacity: 1;
            }
        }
        .rotatedBackground {
            height: 13.375rem;
            width: 10.375rem;
            position: absolute;
            right: 1.2%;
            top: unset;
            bottom: 10%;
            z-index: 0;
            opacity: 0.6;
            object-fit: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            @include bp-from(m) {
               height: 15.375rem;
                width: 7.375rem;
                right: 3%;
                bottom: 41%;
            }
            @include bp-from(l) {
                height: 16.375rem;
                width: 16.375rem;
                right: 12%;
                top: 15%;
            }
            @include bp-from(xl) {
                height: 22.375rem;
                width: 23.375rem;
                right: 11.2%;
                top: 10%;
            }
        }
        .nightCloud {
            position: absolute;
            right: 31%;
            bottom: -5%;
            top:unset;
            z-index: 1;
            opacity: 0.9;
            animation: blow 2s 1 ease-in;
            object-fit: contain;
            height: 8.375rem;
            width: 15.375rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 60%;
            height: 15%;
            @include bp-from( m) {
                height: 7.375rem;
                width: 11.375rem;
                right: 13%;
                bottom: 28%;
            }
            @include bp-from( l) {
                height: 10.375rem;
                width: 17.375rem;
                right: 31%;
                bottom: 15%;
            }
            @include bp-from(xl) {
                right: 30%;
            }
        }
        .rocket {
            align-self: flex-start;
            width: 100%;
            position: absolute;
            bottom: 0rem;
            right:25%;
            margin-left: -2rem;
            height: 19.5rem;
            animation: launch 2s 1 ease-in;
            height: 17rem;
            width: 17rem;
            z-index: 1;
            background-image: url(../../assets/images/spacebid/Bulb.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            @include bp-from(m) {
                height: 18rem;
                width: 18rem;
                right: 7%;
                bottom: 210px;  
            }
            @include bp-from(l) {
                height: 24rem;
                width: 22rem;
                right: 28%;
                top: 14%;
                
            }
        }
        .curtain2{
            height: 31rem;
            width: 5rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: absolute;
            bottom: -20%;
            right: 0%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            @include bp-from(m) {
                right: 0;
                bottom: -15%;
                z-index: 0;
            } 
            @include bp-from(l) {
                height: 80rem;
                width: 11rem;
                background-size: 100% 100%;
                right: 0;
                bottom: -30%;
                z-index: 0;
            }    
        }
        .titleText {
            width: 80%;
            font-size: 1rem;
            position: relative;
            top:5rem;
            z-index: 3;
            h2 {
                margin: 0 0 0.3rem;
                font-size: 1.7rem;
                @include bp(m) {
                    margin: 2rem 0 2rem;
                    font-size: 3rem;
                }
                @include bp-from(xl) {
                    margin: 1rem 0 2rem;
                    font-size: 4rem;
                }
            }
            h4 {
                font-size:0.9rem;
                font-weight: normal;
                margin-top: 0;
                @include bp-from(m) {
                    font-size: 1.25rem;
                    font-weight: normal;
                    line-height: 1.5;
                }
            }
            @include bp-from(m) {
                width: 55%;
                top:4rem;
            }
            @include bp-from(l) {
                width: 38%;
                font-size: 1.8rem;
            }
            @include bp-from(xl) {
                width: 28%;
                font-size: 1.8rem;
                top : 5rem;
            }
        }
        @include bp-from(m) {
            flex-direction: column;
            height:34rem;
           
        }
        @include bp-from(l) {
            flex-direction: row;
            padding: 5rem 2rem 0;
        }
        @include bp-from(xl) {
            flex-direction: row;
            padding: 5rem 5rem 0;
            height: 42rem;
        }
    }

    .section2 {
        display: flex;
        justify-content: space-between;
        padding: 5rem 1.5rem 3rem;
        flex-direction: column-reverse;
        overflow: hidden;
        height:auto;
        .pcenter{
            text-align: center;
            margin: 0.5rem 0;
        }
        @include bp(m) {
            padding: 0rem 2rem 3rem 0rem;
            flex-direction: unset;
        }
        @include bp-from(xl) {
            flex-direction: row;
            padding: 0rem 15rem 3rem 0rem;
        }
        position: relative;
        .SpotlightManpodiumGroup{
            margin-left:0%;
            .manpodium {
                padding-top: 2rem;
                height: 20rem;
                width: 20rem;
                background-image: url(../../assets/images/spacebid/manpodium.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 12rem;
                position: relative;;
                z-index: 2; 
                top:0; 
                @include bp-from(m){
                    top: 24rem;
                    left: 5rem;
                }
                @include bp-from(l){
                    top: 6rem;
                    left: 1.5rem;
                }
                @include bp-from(xl) {
                    padding: 0px;
                    height: 30rem;
                    width: 30rem;
                    background-size: contain;
                    background-attachment: unset;
                    left:-4rem;
                    top:3rem;   
                }
            }
            .spotlightbox {
                height: 3rem;
                width: 2.5rem;
                background-image: url(../../assets/images/spacebid/spotlightbox.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size:contain;
                opacity: 1;
                z-index: 3;
                position: absolute;
                top: 45.7%;
                left: 0%;
                display: block;
                @include bp-from(m) {
                    height: 3rem;
                    width: 3rem;
                    top: 27.8%;
                     left: 0%;
                }
                @include bp-from(l) {
                    opacity: 1;
                    height: 3rem;
                    width: 3rem;
                    background-size: contain;
                    left: 0%;
                    top: 0%;
                    z-index: 3;
                    display: block;
                }
                @include bp-from(xl) {
                    left: 0%;
                    top: .4%;
                }
            }
            .spotlight{
                height: 23rem;
                width: 21.6rem;
                background-image: url(../../assets/images/spacebid/spotlight.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size:100% 100%;
                transform: translate(5px, 5px) !important;
                opacity:1;
                display: block;
                position: absolute;
                top: 47.5%;
                left: 2.4%;
                @include bp-from(m){
                    height: 30rem;
                    width: 26rem;
                    top: 29.6%;
                    left: 1.4%;
                }
                @include bp-from(l) {
                    padding: 0px;
                    height: 30rem;
                    width: 22rem;
                    background-size: 100% 100%;
                    left: 1%;
                    top: 2.3%;
                    z-index: 0;
                    opacity: 0.9;
                    transform: translate(5px, 5px) !important;
                    display: block;
                }
                @include bp(xl) {
                    left: 0.9%;
                    top: 2.9%;
                }
            }
            .curtain3{
                padding-top: 2rem;
                height: 20rem;
                width: 20rem;
                background-position: left bottom;
                z-index: 1;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                position: absolute;
                left: 0%;
                bottom:-5%;
                @include bp-from(l) {
                    padding: 0px;
                    height: 25rem;
                    width: 25rem;
                    background-size: 100% 100%;
                    position: absolute;
                    left: -1%;
                    top: 25%;
                    z-index: 1;
                }
                @include bp-from(xl) {
                    top: 35%;
                }  
            }
            @include bp-from(xl) {
                margin-left:0%;
            }
        }

        .infoText {
            width: 100%;
            font-size: 0.8rem;
            order: 2;
            overflow-x: hidden;
            h2 {
                span {
                    color: #c5527f;
                }
            }
            p {
                font-size: 0.8rem;
                @include bp-from(m) {
                    font-size: 1.25rem;
                }
            }
            h4 {
                font-size: 0.9rem;
                text-align: center;
                @include bp-from(m) {
                    font-size: 1.87rem;
                }
            }
            @include bp(m) {
                width: 50%;
                overflow-x: hidden;
                font-size: 1.5rem;
                margin-right: 0rem;
                position: inherit;
                z-index: 9;
            }
            @include bp-from(xl) {
                width: 40%;
            }
        }
    }

    .section3 {
        padding:0rem 1rem;
        position: relative;
        .curtain4{
            width: 8.1875rem;
            height: 8.1875rem;
            position: absolute;
            right: 0%;
            bottom: -25%;
            background-position: right bottom;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            @include bp-from(m){
                width: 16.1875rem;
                height: 16.1875rem;    
            }        
        }
        .instructTitle {
            font-size: 0.8rem;
            display: flex;
            h2 {
                justify-content: center;
                line-height: 4.96rem;
                display: inherit;
                width: 100%;
                span {
                    color: #c5527f;
                    padding-left: 0.5rem;
                }
            }
            @include bp-from(m) {
                font-size: 1.5rem;
            }
        }
        .fourStepContainer{
            margin:auto;
            text-align: left;
            position: relative;
            max-height:500px;
            height: 100%;
            max-width:100%;
            width:350px;
            overflow-x:hidden;
            .svgContainer{
                width:1200px;
                margin:auto;
                height:100%;
                position: sticky;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                svg{
                    transform: rotate(80deg);
                    width: 420px;
                    height:500px;
                    overflow: hidden;
                    opacity: 0.4;
                    @include bp-from(l) {
                        transform: rotate(0deg);
                        width:1000px;
                    }
                }
                svg use{
                    fill: none;
                    stroke: #09d;
                    stroke-width: 2;
                    stroke-dasharray: 2000;
                    stroke-dashoffset: 2000;
                    animation: dash 10s forwards;
                }
                use {
                    stroke-dasharray: 20;
                }
                @include bp-from(s) {
                    width:100%;
                }
                @include bp-from(l) {
                    width:1200px;
                }
            }
            [class *="star"] {
                position: absolute;
            }
            .star1{
                bottom: 337px;
                left: 15px;
                @include bp-from(m) {
                    bottom: 480px;
                    left: 15px;
                }         
                @include bp-from(l) {
                    bottom: 60px;
                    left: 70px;
                }
            }
            .star2{
                bottom: 272px;
                left: 15px;
                @include bp-from(m) {
                    bottom: 400px;
                    left: 15px;
                }  
                @include bp-from(l) {
                    bottom: 75px;
                    left: 90px;
                }
            }
            .star3{
                bottom: 207px;
                left: -9px;
                @include bp-from(m) {
                    bottom: 83px;
                    left: -9px;                
                }
                @include bp-from(l) {
                    bottom: -10px;
                    left: 267px;                
                }
            }
            .star4{
                top: 128px;
                left: 105px;          
                
                @include bp-from(l) {
                    top: 124px;
                    left: 415px;
                }
            }
            .star5{
                top: 220px;
                right: 102px;
                @include bp-from(m) {
                    top: 166px;
                    right: 102px;
                }
                @include bp-from(l) {
                    top: 225px;
                    right: 435px;
                }
            }
            .star6{
                bottom: 135px;
                right: 145px;
                @include bp-from(m) {
                    bottom: 260px;
                    right: 145px;
                }
                @include bp-from(l) {
                    bottom: 115px;
                    right: 423px;
                }
            }
            .star7{
                top: 285px;
                right: 15px;
                @include bp-from(m) {
                    top: 385px;
                    right: 15px;
                }
                @include bp-from(l) {
                    top: 113px;
                    right: 132px;
                }
            }
            .star8{
                top: 339px;
                right: 15px;          
                @include bp-from(m) {
                    top: 380px;
                    right: 15px;
                }
                @include bp-from(l) {
                    top: 37px;
                    right: 70px;
                }
            }
            [class *="instructs"] {
                position: absolute;
                img{
                    width:3rem;
                    height: auto;
                }
                h6 {
                    font-size: 0.8rem;
                    margin:0 0 0.5rem;
                    width: 80%;
                    @include bp-from(m) {
                        font-size:1.25rem;
                        margin:0 0 0.8rem;
                        width: 100%;
                    }
                }
                p {
                    font-size: 0.6rem;
                    margin-top:0;
                    @include bp-from(m) {
                        font-size:1.125rem;
                    }
                }
                
            }
            .instructs1 {
                bottom: 70%;
                left: 40%;
                @include bp-from(l) {
                    bottom: 200px;
                    left: 40px;
                }
            }
            .instructs2 {
                top: 40%;
                left: 0%;
                @include bp-from(l) {
                    top: 70px;
                    left: 310px;
                }
            }
            .instructs3 {
                bottom: 28%;
                right: -6%;
                width: 50%;
                img{
                    width:2rem;
                }
                @include bp-from(l) {
                    bottom: 20px;
                    right: 320px;
                    width:60%;
                    right: 0%;
                }
            }
            .instructs4 {
                top: 72%;
                right:50%;            
                @include bp-from(l) {
                    top: 240px;
                    right: 50px;
                }
            }
            @include bp-from(m) {
                max-height:600px;
                height: 100%;
                width:1200px;
                overflow: hidden;
            }
        }
        @include bp-from(m) {
            padding:0rem 3rem;
            height:800px;
            vertical-align: top;
        }
    }

    .section4 {
        position: relative;
        padding:5rem 1rem;
        .optionTitle {
            font-size: 0.8rem;
            display: flex;
            h2 {
                justify-content: center;
                line-height: 4.96rem;
                display: inherit;
                width: 100%;
                span {
                    color: #c5527f;
                    padding-left: 0.5rem;
                }
            }
            
            @include bp-from(m) {
                font-size: 1.5rem;
            }
        }
        .cardContainer {
            .cardItems1 {
                .card:nth-child(1){
                    background: #5136d9 url(../../assets/images/spacebid/takeaways1.png);
                    background-size:80%;
                    background-position: center;
                    background-repeat: no-repeat;
                    opacity:1;
                    &:hover{
                        .tooltip{left:0;}
                    }
                }
                .card:nth-child(2){
                    background: #5136d9 url(../../assets/images/spacebid/takeaways2.png);
                    background-size:40%;
                    background-position: center;
                    background-repeat: no-repeat;
                    opacity:1;
                    &:hover{
                        .tooltip{
                            left:-140%;
                            @include bp-from(m){
                                left:0%;
                            }
                        }
                    }
                }
                .card:nth-child(3){
                    background: #5136d9 url(../../assets/images/spacebid/takeaways3.png);
                    background-size:70%;
                    background-position: center;
                    background-repeat: no-repeat;
                    opacity:1;
                    &:hover{
                        .tooltip{
                            left:-13rem;
                            @include bp-from(m){
                                left:-8rem;
                            }
                        }
                    }
                }
            }
            .cardItems2 {
                .card:nth-child(1){
                    background: #5136d9 url(../../assets/images/spacebid/takeaways4.png);
                    background-size:50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    opacity:1;
                    &:hover{
                        .tooltip{
                            left:0;
                            top:-10rem;
                            @include bp-from(m){
                                top:0;
                            }
                        }
                    }
                }
                .card:nth-child(2){
                    background: #5136d9 url(../../assets/images/spacebid/takeaways5.png);
                    background-size:70%;
                    background-position: center;
                    background-repeat: no-repeat;
                    opacity:1;
                    &:hover{
                        .tooltip{
                            left:-140%;
                            top:-10rem;
                            @include bp-from(m){
                                left:0%;
                                top:0rem;
                            }
                        }
                    }
                }
                .card:nth-child(3){
                    background: #5136d9 url(../../assets/images/spacebid/takeaways6.png);
                    background-size:90%;
                    background-position: center;
                    background-repeat: no-repeat;
                    opacity:1;
                    &:hover{
                        .tooltip{
                            left:-13rem;
                            top:-10rem;
                            @include bp-from(m){
                                left:-8rem;
                                top:0rem;
                            }
                        }
                    }
                }
            }
            
            
            @include bp-between(s,m){
                .cardItems1,.cardItems2{
                    display: none !important;
                }
                .next{
                    position: absolute;
                    right: 0;
                    top: 50%;
                }
                .prev{
                    position: absolute;
                    left: 0;
                    top: 50%;
                }
                .prev,.next{
                    z-index: 20;
                    width: 3rem;
                    height: 3rem;
                    background: #301c92;
                    opacity: 0.8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    span{
                        &:before{
                            font-size: 1.5rem;
                        }
                    }
                } 
            }
            @include bp-from(m){
                .cardItems3,.prev,.next{
                    display: none !important;
                }
                .cardItems1,.cardItems2{
                    display: flex !important;
                } 
            }
            [class *="cardItems"] {
                display: flex;
                justify-content: space-around;
                margin-bottom: 10%;
                .card {
                    width: 4.25rem;
                    height: 4.25rem;
                    border-radius: 100px;
                    .tooltip{
                        display: none;
                    }
                    &:hover{
                        position: relative;
                        z-index: 0;
                        .tooltip{
                            display: block;
                            background: $blue;
                            border-radius: 0.5rem;
                            color:$white;
                            padding:1rem;
                            width: 300px;
                            position: absolute;
                            top:0%;
                            // left:-10%;
                            z-index: 999;
                            h4{
                                font-size: 1.2rem;
                                margin: 0.5rem 0;
                                @include bp-from(m){
                                    font-size: 1.4rem;
                                }
                            }
                            .text{
                                line-height: 1.74;
                                font-size: 1rem;
                                @include bp-from(m){
                                    font-size: 1.2rem;
                                }
                            }
                            @include bp-from(m){
                                width:300px;
                                // left:0;
                            }
                        }
                    }
                    @include bp-from(m){
                        width: 6.25rem;
                        height: 6.25rem;    
                    }
                }
            }
            
        }
        @include bp-from(m){
            padding: 5rem 3rem 6rem;
        }
    } 
    .applyNowBtn{
        width:4rem;
        height:4rem;
        position: fixed;
        text-align: center;
        bottom:1.5rem;
        right:1.5rem;
        z-index: 999;
        a{
            border: none;
            width:100%;
            height:100%;
            //box-shadow: -1px -1.7px 52.4px 4.6px rgba(0, 0, 0, 0.52);
            border-radius: 100%;
            cursor: pointer;
            color: transparent;
            background-size: 100% 100%;
            transform: scale(2.5);
            display: flex;
            text-decoration: none;
            align-items: center;
            background-repeat: no-repeat;
            @include bp-from(xl) {
                font-size: 1.2rem;
                line-height: 1.3;
            }
        }
        @include bp-from(l) {
            bottom:5rem;
            right:5rem;
        }
        @include bp-from(xl) {
            bottom:8rem;
            right:8rem;
            width:5rem;
            height:5rem;
            text-align: center;
        }
    }
    .dark-theme{
        background: rgba(21,38,135,1);
        background: -moz-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(21,38,135,1)), color-stop(56%, rgba(25,25,103,1)), color-stop(100%, rgba(26,23,100,1)));
        background: -webkit-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: linear-gradient(135deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152687', endColorstr='#1a1764', GradientType=1 );
        position: relative;
        width:100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        scroll-behavior: smooth ;
        color:$white;
        box-sizing: border-box;
        [class *="instructs"] {
            h6 {
                color:$white;
            }
        }
        .MuiIconButton-root {
            color: $white;
            padding:1rem;
            @include bp(m) {
                padding:2rem 0 0 1rem;
            }
            @include bp(xl) {
                padding: 2rem;
            }
        }
        @include bp-from(m){
            padding:0;
        }
        .topGrandient {
            background-image: url('../../assets/images/spacebid/curtain1.png');
        }
        .curtain2{
            background-image: url('../../assets/images/spacebid/curtain2.png');
        }
        .curtain3{
            background-image: url('../../assets/images/spacebid/curtain3.png');
        }
        .curtain4{
            background-image: url('../../assets/images/spacebid/curtain4.png');
        }
        .nightCloud{
            background-image: url('../../assets/images/spacebid/smokeofbulb.png');
        }
        .rotatedBackground{
            background-image: url('../../assets/images/spacebid/Nightthemecomputer.png');
        }
        .applyNowBtn a{
            background-image: url('../../assets/images/lets-engage-night.png');
            
        }
        
    }
    .light-theme{
        background: -webkit-gradient(left bottom, right top, color-stop(0%, white), color-stop(100%, #abdefb));
        position: relative;
        width:100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $black;
        overflow: hidden;
        box-sizing: border-box;
        [class *="instructs"] {
            h6 {
                color:$blue;
            }
        }
        @include bp-from(m){
            padding:0;
        }
        .topGrandient {
            background-image: url('../../assets/images/spacebid/day-curtain1.png');
            @include bp-from(m){
                height:41.5rem;
            }
            @include bp-from(xl){
                height: 50rem;
            }
        }
        .MuiIconButton-label{
            color: $textday;
        }
        .titleText {
            h2{
                color:$textday;
            }
        }
        .curtain2{
            background-image: url('../../assets/images/spacebid/day-curtain2.png');
        }
        .curtain3{
            background-image: url('../../assets/images/spacebid/day-curtain3.png');
        }
        .curtain4{
            background-image: url('../../assets/images/spacebid/day-curtain4.png');
        }
        .nightCloud{
            background-image: url('../../assets/images/spacebid/daycloud.png');
        }
        .rotatedBackground{
            background-image: url('../../assets/images/spacebid/computer.png');
        }
        .applyNowBtn a{
            background-image: url('../../assets/images/lets-engage-day.png');
            
        }
    } 
}

// @media only screen and (min-width: 1400px) and (max-width: 1440px){
//     .topGrandient {
//         width:46rem;
//     }
// }