@import '../../../assets/scss/Variable.scss';
@import '../../../assets/scss/BreakPoint.scss';
@import '../../../assets/scss/Animation.scss';
@import '../../../assets/scss/Fonts.scss';

.cardItems3{
    display: flex;
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    justify-content: space-between !important;
    .carousel-initialized{
        overflow: initial;
        position: unset;
        .card{
            width:70%!important;
            height: 22rem !important;
            background: #0346d5;
            border-radius: 0.5rem !important;
            color: #fff;
            padding:2rem !important;
            margin: 0 0.5rem;
            &:hover{
                position: unset !important  ;
                z-index: 0;
            } 
            &:hover .tooltip{
                display: block;
                background: unset !important;
                border-radius: unset !important;
                color: #fff !important;
                padding: unset !important;
                width: 200px !important; 
                position: unset !important;
            }
            &:hover .tooltip .text{
                line-height: unset !important;
                font-size: unset !important;
            }
            &:hover .tooltip h4{
                margin: 1.33em 0 !important;
                font-size: unset !important;
            }
            .tooltip{
                display: block !important;
                width:100%;
                h4{
                    white-space: normal ;
                }
                .text{
                    white-space: normal;
                }
            }
        }
        .carousel-prev {
            left: -8px;
        }
    }
}