@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/BreakPoint.scss';
@import '../../assets/scss/Animation.scss';
@import '../../assets/scss/Fonts.scss';

.loginForm{
    .dark-theme{
        background: rgba(21,38,135,1);
        background: -moz-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(21,38,135,1)), color-stop(56%, rgba(25,25,103,1)), color-stop(100%, rgba(26,23,100,1)));
        background: -webkit-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: linear-gradient(135deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152687', endColorstr='#1a1764', GradientType=1 );
        position: relative;
        width:100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        scroll-behavior: smooth ;
        color:$white;
        box-sizing: border-box;
        padding: 0;
        .topBgGradient{
            background: url('../../assets/images/topBgGradient.png') no-repeat 0 0;
            position: absolute;
            top:0;
            left:0;
            z-index: 1;
            background-size: 100%;
            width: 82%;
            height: 10rem;
            @include bp(m){
                background: url('../../assets/images/topBgGradient.png') no-repeat 0 0;
                background-size:100%;
                width: 35%;
                height: 11rem;
            }
            @include bp(xl){
                width: 32%;
                height:15rem;
            }
        }
        .MuiIconButton-root {
            color: $white;
        }
        input{color:$white;-webkit-text-fill-color: $white;}
    }
    .light-theme{
        background: -webkit-gradient(left bottom, right top, color-stop(0%, white), color-stop(100%, #abdefb));
        position: relative;
        width:100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $black;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0;
        .topBgGradient{
            background: url('../../assets/images/topBgGradientDay.png') no-repeat 0 0;
            position: absolute;
            top:0;
            left:0;
            z-index: 1;
            background-size: 100%;
            width: 82%;
            height: 10rem;
            @include bp(m){
                background: url('../../assets/images/topBgGradientDay.png') no-repeat 0 0;
                background-size:100%;
                width: 35%;
                height: 11rem;
            }
            @include bp(xl){
                width: 32%;
                height:15rem;
            }
        }
        input{color:$black; }
        .cancelBtn{
            a{
                color:$black;
            }
        }
        .MuiIconButton-label{
            color:$textday;
        }
    }    
        
    nav {
        display: flex;
        width: calc(100% - 3rem);
        justify-content: space-between;
        position: absolute;
        padding: 1rem;
        z-index: 9;
        .makeStyles-root-1 {
            align-items: center;
            display: inherit;
            position: relative;
            z-index: 999;
            .MuiIconButton-root {
                color: $white;
            }
            .makeStyles-content-9 {
                padding: 0px;
                @include bp-between(m, xl) {
                    padding: 24px;
                }
            }
        }
        .themeSwitch {
            align-items: center;
            display: inherit;
            position: fixed;
            z-index: 3;
            right: 5%;
            top: 5%;
            @include bp-from(m) {
                position: fixed;
                right: 5%;
                top: 5%;
            }
        }
        @include bp-from(m){
            padding: 1.5rem;
            width: calc(100% - 3rem);
        }
        @include bp-from(xl){
            padding: 2rem;
            width: calc(100% - 4rem);
        }
    }
    &-Container{
        width:100%;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-box{
        max-width:310px;
        width:calc(100% - 4rem);
        max-height: 360px;
        background: rgba(3, 70, 213, 0.2) !important;
        padding:2rem;
        position: absolute;
        border-radius: 1rem;
        form{
            .Validation{
                display: none;
            }
            .emailotp{
                display:flex;
                align-items: center;
                button{
                    // height: 3rem;
                    cursor: pointer;
                    background: $lightBlue;
                    border:none;
                    padding: 1.2rem 1rem;
                    line-height: 1.36;
                    font-size: 1rem;
                    border-radius: 1.8rem;
                    width:8rem;
                    margin-left:0.2rem;
                    &:focus{
                        outline:none;
                    }
                }
            }
            .fieldClass{
                margin-bottom:1.5rem;
                width:100%;
                label{
                    font-size: 1.125rem;
                    margin:0.5rem 0;
                }
                .MuiFormControl-root{
                    width:100%;
                    input{
                        background: transparent;
                        font-family: 'DaxOT Bold';
                        border:none;
                        width:100%;
                        border-bottom: 0.05rem solid #fff;
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                        &::-webkit-input-placeholder{
                            vertical-align: middle;
                            font-size: 2rem;
                            line-height: 2rem;
                        }
                        &:hover{
                            border-bottom: 0.05rem solid $borderformblue;
                        }
                        @include bp-from(m) {
                            font-size: 2.5rem;
                            line-height: 2.5rem;
                        }
                    }
                }
            }
            .MuiInput-underline:hover:not(.Mui-disabled){
                &:before{border-bottom: none;}
            }
        }
        .forgotLink{
            display: flex;
            justify-content: flex-end;
            margin:1rem 0 3rem;
            a{
                text-decoration: none;
                color: $white;
            }
        }
        .signinBtn{
            position:absolute;
            bottom: -1rem;
            left:0;
            width:100%;
            margin:0 auto;
            text-align: center;
            button{
                background: $lightBlue;
                color: $white;
                border:none;
                padding:0.7rem 3rem;
                line-height: 1.36;
                font-size: 1rem;
                border-radius: 1.5rem;
                cursor: pointer;
                margin: 0 0.2rem;
                &:focus{
                    outline:none;
                }
            }
        }
        .cancelBtn{
            position: absolute;
            bottom:-5rem;
            left:0;
            width:100%;
            text-align: center;
            a{
                text-decoration: none;
                color:$white;
            }
        }
        @include bp-from(m) {
            max-width:540px;
            width:100%;
            max-height: 360px;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}
