@import '../../../assets/scss/Variable.scss';
@import '../../../assets/scss/BreakPoint.scss';

.dark-theme,.dark-theme + .landingContainer{
    nav{
        .MuiButtonBase-root{
            padding: 1rem 0 0 1rem;
            &:hover{
                background-color: unset ;       
            }
            @include bp(m){
                padding: 2rem;
            }
        } 
    }   
    .MuiPaper-root{
        background-color: rgba(18, 34, 158, 0.95);
        -webkit-box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.3);
        box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.3);
        color: $white;
        z-index: 999;
        width:18rem;
        @include bp-from(m) {
            width:22rem;
        }
        .makeStyles-drawerHeader-8{
            justify-content: flex-start;
            padding:3rem 3rem 0rem;  
            .MuiIconButton-root{
                color:$white;
                .MuiIconButton-label{
                    color:$white;
                    .icon-close{
                        opacity: 0.3;
                        font-size: 2rem;
                        font-weight: bolder;
                    }
                }
                &:hover{
                    background-color: unset ;
                }
            }
        }
        .MuiList-root{    
            height:100%;
            margin-top: 3rem;
            .MuiListItem-root{
                display: block;
                padding:0.4rem 0;
                .MuiListItemText-root{
                    text-align: center;
                    .MuiTypography-body1{
                        a{
                            color: $white;
                            text-decoration-line: none;
                            font-size: 1rem;                        
                        }
                    }
                    &:first-child{
                        .MuiTypography-body1{
                            font-weight: 600;
                            a{
                                color: $white;
                                text-decoration-line: none;
                                font-size: 1.3rem;  
                            }
                        }
                    }
                }
                &.defaultNav{
                    position: absolute;
                    bottom: 3rem;
                    .MuiListItemText-root{
                        a{
                            font-weight: normal;
                        }
                    }
                    @include bp-from(m) {
                        bottom: 5rem;
                    }
                }
            }
            &.logoutList{
                margin-top:0;
            }
            @include bp-from(m) {
                margin-top: 5rem;
            }
        }
    }        
}
.light-theme + .landingContainer .makeStyles-root-1{
    .MuiIconButton-root{
        color:$white;
        &:hover{
            background-color: unset ;
        }
    }
}
.light-theme,.light-theme  + .landingContainer{
    nav{
        .MuiButtonBase-root{
            padding: 1rem 0 0 1rem;
            &:hover{
                background-color: unset ;       
            }
            @include bp(m){
                padding: 2rem;
            }
        } 
    }    
    .MuiPaper-root{
        background-color: rgba(87, 145, 233, 0.95) !important;
        -webkit-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.3);
        box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.3);
        z-index: 999;
        width:18rem;
        @include bp-from(m) {
            width:22rem;
        }
        .makeStyles-drawerHeader-8{
            justify-content: flex-start;
            padding:3rem 3rem 0;  
            .MuiIconButton-root{
                color:$white;
                .MuiIconButton-label{
                    color:$white;
                    span.icon-close{
                        opacity: 0.3;
                        font-size: 2rem;
                        font-weight: bolder;
                    }
                }
                &:hover{
                    background-color: unset ;
                }
            }
        }
        .MuiList-root{    
            height:100%;
            margin-top: 5rem;
            .MuiListItem-root{
                display: block;
                padding:0.4rem 0;
                .MuiListItemText-root{
                    text-align: center;
                    .MuiTypography-body1{
                        a{
                            color: $white;
                            text-decoration-line: none;
                            font-size: 1rem;                        
                        }
                    }
                    &:first-child{
                        .MuiTypography-body1{
                            font-weight: 600;
                            a{
                                color: $white;
                                text-decoration-line: none;
                                font-size: 1.3rem;  
                            }
                        }
                    }
                }
                &.defaultNav{
                    position: absolute;
                    bottom: 3rem;
                    .MuiListItemText-root{
                        a{
                            font-weight: normal;
                        }
                    }
                    @include bp-from(m) {
                        bottom: 5rem;
                    }
                }
            }
            &.logoutList{
                margin-top:0;
            }
        }
    }
}

.MuiIconButton-label{
    color:$white;
    .icon-close{
        margin-left:2rem;
        color:$white;
    }
}