@import '../../../assets/scss/Variable.scss';
@import '../../../assets/scss/BreakPoint.scss';
@import '../../../assets/scss/Fonts.scss';

.Validation{
    font-family: 'DaxOT Bold';
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 0;
    text-align: center;
    position: fixed;
    left: -500px;
    -webkit-animation: clippyvalid 5s infinite both; /* Safari 4.0 - 8.0 */
    animation: clippyvalid 5s infinite both;
    animation-iteration-count: 1;
    transition: all 7s ease;
    z-index: 2;
    .validationmsgContainer {
        .validationmsg{
            background: $white;
            position: relative;
            left:10rem;
            margin:0 2rem 1rem;
            padding:15px;
            width:15rem;
            height:2.5rem;
            line-height: 1rem;
            border-radius:30px;
            color:#1a1b6b;
            text-overflow: ellipsis;
            white-space: pre-line;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            &:before {
                content: "";
                position: absolute;
                right: 94%;
                top: 45px;
                width: 40px;
                height: 30px;
                border-radius: 50%;
                box-shadow: 12px 12px 0 0 $white;
                transform: rotate(-20deg);
            }
        }
        img{
            width:75px;
        }
    }
}

.Validation.resend{
    font-family: 'DaxOT Bold';
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 0;
    text-align: center;
    position: fixed;
    left: -700px;
    -webkit-animation: clippyResend 10s infinite both; /* Safari 4.0 - 8.0 */
    animation: clippyResend 10s infinite both;
    animation-iteration-count: 1;
    transition: all 7s ease;
    z-index: 2;
    .resendOTP{
        .validationmsgContainer {
            .validationmsg{
                background: $white;
                position: relative;
                left:10rem;
                margin:0 2rem 1rem;
                padding:15px;
                width:15rem;
                height:2.5rem;
                border-radius:30px;
                display: block;
                color:#1a1b6b;
                &:before {
                    content: "";
                    position: absolute;
                    right: 94%;
                    top: 45px;
                    width: 40px;
                    height: 30px;
                    border-radius: 50%;
                    box-shadow: 12px 12px 0 0 $white;
                    transform: rotate(-20deg);
                }
                .resendLink{
                    color: #c5527f;
                    text-decoration-line: underline;
                }
            }
            img{
                width:65px;
            }
        }
    }
    
}


@-webkit-keyframes clippyvalid {
    0% {left: -250px;}
    20% {left: -110px;}
    80% {left: -110px;}
    100% {left: -500px;}
}
  
@keyframes clippyvalid {
    0% {left: -250px;}
    20% {left: -110px;}
    80% {left: -110px;}
    100% {left: -500px;}
}

@include bp-from(m){
    @-webkit-keyframes clippyvalid {
        0% {left: -250px;}
        20% {left: -30px;}
        80% {left: -30px;}
        100% {left: -500px;}
    }
      
    @keyframes clippyvalid {
        0% {left: -250px;}
        20% {left: -30px;}
        80% {left: -30px;}
        100% {left: -500px;}
    }
}

//
@-webkit-keyframes clippyResend {
    0% {left: -250px;}
    20% {left: -110px;}
    80% {left: -110px;}
    100% {left: -110px;}
}
  
@keyframes clippyResend {
    0% {left: -250px;}
    20% {left: -110px;}
    80% {left: -110px;}
    100% {left: -110px;}
}

@include bp-from(m){
    @-webkit-keyframes clippyResend {
        0% {left: -250px;}
        20% {left: -30px;}
        80% {left: -30px;}
        100% {left: -30px;}
    }
      
    @keyframes clippyResend {
        0% {left: -250px;}
        20% {left: -30px;}
        80% {left: -30px;}
        100% {left: -30px;}
    }
}