@import '../../../assets/scss/Variable.scss';
@import '../../../assets/scss/BreakPoint.scss';
@import '../../../assets/scss/Animation.scss';
@import '../../../assets/scss/Fonts.scss';


.innovationMobile{
    margin: 0 auto 3rem;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 800px;
    width:100%;
    min-height: 400px;
    .carousel-initialized{
        .carousel-track{
            height: 95%!important;
            .carousel-item{
                height: 100%;
                width: 80%!important;
                margin-left: 5%;
                .carousel-row{
                    height: 96%;
                    .inovationItem{
                        background: rgba(3,70,213,0.2) ;
                        border:5px solid rgba(95,55,229, 0.2);
                        border-radius: 0.6rem;
                        width:45%;
                        height:100%;
                        padding:4%;
                        font-size: 1.25rem;
                        line-height: 1.7;
                        position: relative;
                        display: none;
                        &:first-child{
                            animation-name: innovationItem1;
                            animation-timing-function: ease-in;
                            animation-iteration-count: 1;
                            animation-duration: 2s;
                            animation-fill-mode: forwards;
                            animation-delay: 1s;
                            text-align: center;
                            @include  bp-from(m){
                                text-align: left;
                            }

                        }
                        &:nth-child(2){
                            animation-name: innovationItem2;
                            animation-timing-function: ease-in;
                            animation-iteration-count: 1;
                            animation-duration: 2s;
                            animation-fill-mode: forwards;
                            animation-delay: 2s;
                            text-align: center;
                            @include  bp-from(m){
                                text-align: left;
                            }
                        }
                        &:nth-child(3){
                            animation-name: innovationItem3;
                            animation-timing-function: ease-in;
                            animation-iteration-count: 1;
                            animation-duration: 2s;
                            animation-fill-mode: forwards;
                            animation-delay: 3s;
                            text-align: center;
                            
                            
                            @include  bp-from(m){
                                text-align: left;
                            }
                        }
                        &:nth-child(4){
                            animation-name: innovationItem4;
                            animation-timing-function: ease-in;
                            animation-iteration-count: 1;
                            animation-duration: 2s;
                            animation-fill-mode: forwards;
                            animation-delay: 4s;
                            text-align: center;
                            @include  bp-from(m){
                                text-align: left;
                            }
                            
                        }
                        &:nth-child(5){
                            animation-name: innovationItem5;
                            animation-timing-function: ease-in;
                            animation-iteration-count: 1;
                            animation-duration: 2s;
                            animation-fill-mode: forwards;
                            animation-delay: 5s;
                            text-align: center;
                            @include  bp-from(m){
                                text-align: left;
                            }
                        }
                        &:nth-child(6){
                            animation-name: innovationItem6;
                            animation-timing-function: ease-in;
                            animation-iteration-count: 1;
                            animation-duration: 2s;
                            animation-fill-mode: forwards;
                            animation-delay: 6s;
                            text-align: center;
                            @include  bp-from(m){
                                text-align: left;
                            }
                        }
                        .cardtext{
                            height: 100px;
                            display: flex;
                            align-items: center;
                        }
                        img.why3{
                            width: 66%;
                            left: 21%;
                        }
                        img.why4{
                            width: 54%;
                            left: 22%;
                        }
                        img.why5{
                            width: 39%;
                        }
                        img{
                            position: absolute;
                            z-index: 9;
                            width: 44%;
                            bottom: 5%;
                            left: 30%;
                            @include bp-from(m) {
                                width: 25%;
                            }
                            @include bp-between(l,xl) {
                                top: 10%;
                                width: 35%;
                                right: -3%;
                                top: 15%;
                                bottom:unset;
                                left:unset;
                            }
                        }
                        @include bp-from(l) {
                            width:50%;
                            height:65%;
                            padding:8% 30% 11% 10%;
                            font-size: 1.25rem;
                            line-height: 1.4;
                            position: relative;
                            display: unset;
                        }
                    }
                }
            }
        }
        .carousel-prev{
            &:before{
                opacity: 0;
            }
            &:after{
                font-family: 'icomoon';
                content: "\e906";
                font-size: 1rem;
                background: #301c92;
                width: 5rem;
                height: 2.5rem;
                border-radius: 100%;
                color: $white;
                line-height: 2.5;        
            }
        }
        .carousel-next{
            &:before{
                opacity: 0;
            }
            &:after{
                font-family: 'icomoon';
                content: "\e905";
                font-size: 1rem;
                background: #301c92;
                width: 5rem;
                height: 2.5rem;
                border-radius: 100%;
                color: $white;
                line-height: 2.5;
            }
        }
    }
    @include bp-from(m) {
        display: none;
    }
}