@import '../../../../assets/scss/Variable.scss';
@import '../../../../assets/scss/BreakPoint.scss';

.phoneContainer{
    padding: 0.2rem 0;
    .react-tel-input{
        input{
            font-size: 1.14rem !important; 
            font-weight: bold;
            opacity: 0.8;
            padding-left: 50px;
            width: auto;
            border: unset !important;
            background: transparent !important;
            &::placeholder{
                opacity: 0.2;
            }
            @include bp-from(m){
                font-size: 2rem !important;
                width:90%;
                padding-left: 60px;
            }
        }
        .flag-dropdown{
            background-color: transparent;
            border:0;
            .selected-flag{
                &:hover{
                    background-color:transparent; 
                }
            }
            .flag{
                transform: scale(1.4);
                @include bp-from(m){
                    transform: scale(1.8);
                }
            }
            .country-list{
                width: 30rem;
                .country{
                    .country-name{
                        color: $textdaygrey;
                        padding-left: 2%;
                    }
                }
            }
        }
    }
    
    @include bp-from(m){
        padding: 0.8rem 0;
    }
}    
.light-theme + .landingContainer{
    input{
        color: $textdaygrey;
    }
}
.dark-theme + .landingContainer{
    input{
        color: $white;
    }    
}


