@import '../../../../assets/scss/Variable.scss';
@import '../../../../assets/scss/BreakPoint.scss';

.landingContainer{
    overflow: hidden;
    .fieldClass{
        position: absolute;
        top:0;
        left: 13%;
        margin: 0.5rem 0.8rem;
        width: 58%;     
        h1{
            margin: 0; 
            font-size: 0.8rem;
            @include bp-from(m){
                font-size: 1rem;
            }
        }
        
        .MuiTextField-root{
            width: 100%;
            .MuiInput-underline{
                &:before,&:after{
                    border-bottom:unset !important;
                }
                .MuiInputBase-input{
                    font-size: 1.14rem;
                    // color: #fff;
                    font-weight: bold;
                    opacity: 0.8;
                    &::placeholder{
                        opacity: 0.2;
                    }
                    @include bp-from(m){
                        font-size: 2rem;
                    }
                }
                @include bp-from(m){
                    margin-top: 0rem;
                    font-size: 2rem;
                }
    
            }
            @include bp-from(m){
                width: 100%;
            }
        }
        @include bp-from(m){
            width:70%;
            left:13%;
        }
        @include bp-from(xl){
            left: 10%;
            margin: 1rem 0.5rem;
            width: 80%;
        }
    }
    .agreeComponent{
        position: absolute;
        top:0;
        left: 13%;
        margin: 1rem 0.5rem;
        display:flex;
        .MuiIconButton-root{
            padding:0 8px;
            .MuiIconButton-label{  
                color: #0ccb4f!important;
                &:focus{
                    background-color: unset;
                }
            }
            &:hover{
                background-color: unset;
            }
            &:focus{
                background-color: unset;
            }
            .MuiIconButton-label{
                color:$white;
                &:hover{
                    background-color: unset;
                }
                &:focus{
                    background-color: unset;
                }
            }    
        }
        .MuiCheckbox-colorSecondary{
            &.Mui-checked{
                color: unset;
                background: unset;
                &:focus{
                    background: unset;
                }
            }
        }
        h1{
            margin: 0;
            font-size: 0.8rem;
            font-weight: 600;
            a{
                color:#c5527f;
                text-decoration-line: underline;
            }
            @include bp-from(m){
                font-size: 1rem;
            }
        }
        @include bp-from(m){
            left: 10%;
            margin: 2rem 0.5rem;
        }    
    }
}

.example-appear {
    opacity: 0.04;
    transform: translateY(100%)
 }
 .example-appear.example-appear-active {
    opacity: 2;
    transition: opacity 20s ease-in;
    transform: translateY(0%)
 }