@import '../../../../assets/scss/Variable.scss';
@import '../../../../assets/scss/BreakPoint.scss';
@import '../../../../assets/scss/Fonts.scss';

.dark-theme + .landingContainer{
    .PDFContainer{
        span,.icon-download{
            color:#fff
        }
    }
    .country-label{
        color: #FFF !important;
       
    } 
    .flag-options{
        .country-label{
            color: #333 !important;
            font-size: 1rem;
        }
    }
    .currencyIn{
        .inputField{
            span{
                color: #fff;
            }
        }
        
    }  
} 

.landingContainer{
    .formContainer {
        position: absolute;
        top:30%;
        z-index:0;
        width: 100%;
        .fieldClass{
            .MuiFormControl-root{
                .MuiInputBase-input::-webkit-inner-spin-button{
                    -webkit-appearance: none; 
                     margin: 0; 
                }
            }
            .Mui-disabled{
                color:$white;

            }
            
        }
        .PDFContainer{
            width:80%;
            margin:0 auto;
            position: absolute;
            top: -10rem;
            left:10%;
            z-index: 999;
            &_action{
                display:flex;
                justify-content: space-between;
                align-items: flex-end;
                a{
                    background: #dadada;
                    padding: 1rem;
                    text-decoration: none;
                    font-weight: bold;
                    color:$nightTheme;
                    border-top-left-radius: 0.2rem;
                    border-top-right-radius: 0.2rem;
                    span{
                        font-weight: bold;
                        color:$nightTheme;
                    }
                }
                .icon{
                    display:flex;
                    span{
                        margin-left: 1.5rem;
                        font-size: 1.6rem;
                    }
                    button.MuiButtonBase-root{
                        padding:2rem 0.2rem;
                        &:hover{
                            background: transparent;
                        }
                    }
                    a{
                        background: transparent;
                        padding:1.8rem 0.5rem;
                    }
                }
                @include bp-from(l){
                    width:100%;
                }
            }
            .react-pdf{
                &__Document{
                    width: 100%;
                    height: 100vh;
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
                &__Document + p{
                    display: none;
                }
                &__Page{
                    height:1000px;
                    display: block;
                    &__canvas{
                        width:100%!important;
                    }
                }
                
            }
            @include bp-from(m){
                top: -8rem;
            }
            @include bp-from(xl){
                top: -10rem;
            }
        }
        form{
            &.mobileWidthfield{
                .fieldClass{
                    width:70%;
                }
            }
        }
        @include bp-from(l){
            width: 70%
        }
        @include bp-from(xl){
            top:45%;
        }
    }
}

.inputCurrency{
    display: block;
    .capitalCurrency{
        @include bp-from(l){
            width: 40%;
        }
    }
    .currencyIn{
        .inputField{
            display: flex;
            align-items: center;
            input{
                @include bp-from(l){
                    width: 20px;
                    height: 20px;
                }
            }
            input:checked {
                background-color: #2196F3;
              }
            span{
                color: #4d4d4d;
                @include bp-from(l){
                    font-size: 1.4rem !important;
                    line-height: 3.5rem;
                }
                
            }
        }
        
    }
    
    @include bp-from(l){
        display: flex;
    }
}

.capitalCurrency{
    display: flex;
    align-items: center;
    .flag-select{
        .selected--flag--option {
            font-size: 1.2rem !important ;
            line-height: 3.3rem;
            width: max-content;
            @include bp-from(m){
                font-size: 1.4rem !important ;
                line-height: 3.5rem;
                width: max-content;
            }
            .country-flag{
                padding-right: 0.5rem;
                @include bp-from(m){
                    padding-right: 1rem;
                }
                img{
                    width: 1.3em;
                    height: 1.3em;
                    position: relative;
                    top: 0.3em;
                }
                .country-label{
                    font-weight: bold;
                    opacity: 0.8;
                    color: #373737;
                    @include bp-from(m){
                        
                    }
                
                }
            }
        }
        
    } 
    .MuiInputBase-root{
        .Mui-disabled{
            width: 100%;
            max-width: 100% !important;
        }
    }
}