@import '../../../../assets/scss/Variable.scss';
@import '../../../../assets/scss/BreakPoint.scss';
@import '../../../../assets/scss/Fonts.scss';

.landingContainer{
    .formContainer {
        position: absolute;
        top:30%;
        z-index:0;
        width: 100%;
        .fieldClass{
            .MuiFormControl-root{
                .MuiInputBase-input::-webkit-inner-spin-button{
                    -webkit-appearance: none; 
                     margin: 0; 
                }
            }
            .Mui-disabled{
                color:$white;

            }

        }
        .PDFContainer{
            width:80%;
            margin:0 auto;
            position: absolute;
            top: -10rem;
            left:10%;
            z-index: 999;
            &_action{
                display:flex;
                justify-content: space-between;
                align-items: flex-end;
                a{
                    background: #dadada;
                    padding: 1rem;
                    text-decoration: none;
                    font-weight: bold;
                    color:$nightTheme;
                    border-top-left-radius: 0.2rem;
                    border-top-right-radius: 0.2rem;
                    span{
                        font-weight: bold;
                        color:$nightTheme;
                    }
                }
                .icon{
                    display:flex;
                    span{
                        margin-left: 1.5rem;
                        font-size: 1.6rem;
                    }
                    a{
                        background: transparent;
                        padding:1.8rem 0.5rem;
                    }
                }
                @include bp-from(l){
                    width:100%;
                }
            }
            .react-pdf{
                &__Document{
                    width: 100%;
                    height: 100vh;
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
                &__Document + p{
                    display: none;
                }
                &__Page{
                    height:1000px;
                    display: block;
                    &__canvas{
                        width:100%!important;
                    }
                }
                
            }
            @include bp-from(m){
                top: -8rem;
            }
            @include bp-from(xl){
                top: -10rem;
            }
        }
        
        @include bp-from(l){
            width:70%
        }
        @include bp-from(xl){
            top:45%;
        }
    }
}
