@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/BreakPoint.scss';
@import '../../assets/scss/Animation.scss';
@import '../../assets/scss/Fonts.scss';

.dashboard{
    // width: 100%;
    // height: 100vh;
    .dark-theme{
        background: rgba(21,38,135,1);
        background: -moz-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(21,38,135,1)), color-stop(56%, rgba(25,25,103,1)), color-stop(100%, rgba(26,23,100,1)));
        background: -webkit-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: linear-gradient(135deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152687', endColorstr='#1a1764', GradientType=1 );
        position: relative;
        width:100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        scroll-behavior: smooth ;
        color:$white;
        box-sizing: border-box;
        padding: 0;
        .topGrandient {
            height: 8rem;
            width: 25.5rem;
            position: absolute;
            left: -1.9rem;
            top: -6.5rem;
            z-index: 1;
            opacity: 0.8;
            object-fit: cover;
            background-image: url(../../assets/images/spacebid/curtain1.png);
            background-position:top left ;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            @include bp-from(l) {
                background-size: 100%;
                width: 35%;
                height: 15rem;
            }
        }
        .react-tabs{
            &__tab--selected{
                color:$white;
            }
        }
        .carousel .slide{
            background: $darkBlue!important;
        }
        nav{
            .back{
                background:rgba($color: $nightTheme, $alpha: 1);
            }
        }
    }
    .light-theme{
        background:-webkit-gradient(left bottom, right top, color-stop(0%, white), color-stop(100%, #b7e1f9));
        position: relative;
        width:100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $black;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0;
        // .topBgGradient{
        //     width:30%;
        //     height:30%;
        // }
        .react-tabs{
            &__tab--selected{
                background: rgba($color: $white, $alpha: 0.6);
            }
            &__tab-panel{
                background: rgba($color: $white, $alpha: 0.6);
            }
        }
        .carousel .slide{
            background: rgba($color: $white, $alpha: 0.4)!important;
        }
        nav{
            .back{
                background:rgba($color: $textday, $alpha: 0.5);
            }
            .MuiIconButton-label{
                color:$textday;
            }
        }
        
            .dashboardContainer{
                .solutionAction{
                    button{
                        color: #000;
                        font-weight: bold;
                    }
                }
            }
        
    }    
        
    nav {
        display: flex;
        width: calc(100% - 2rem);
        justify-content: space-between;
        position: absolute;
        padding: 1rem;
        z-index: 9;
        padding: 1rem; 
        .makeStyles-root-1 {
            align-items: center;
            display: inherit;
            position: relative;
            z-index: 999;
            .MuiIconButton-root {
                color: $white;
            }
            .makeStyles-content-9 {
                padding: 0px;
                @include bp-between(m, xl) {
                    padding: 24px;
                }
            }
        }
        .themeSwitch {
            align-items: center;
            display: inherit;
            position: fixed;
            z-index: 3;
            right: 5%;
            top: 5%;
            @include bp-from(m) {
                position: fixed;
                right: 5%;
                top: 5%;
            }
        }
        .back{
            border-radius: 100%;
            a{
                text-decoration: none;
                color:$white;
                padding:0.6rem 0.8rem;
                display: block;
            }
        }
        @include bp-from(xl){
            padding: 2rem;
            width: calc(100% - 4rem);
        }
    }
    .dashboardContainer{
        padding: 5rem 0 0;
        width: 92%;
        min-height: 100vh;
        height:100%;
        margin: auto;
        position: relative;
        header{
            position: relative;
            display: flex;
            justify-content: center;
            h1{
                position: inherit;
                text-align: center;
                font-size: 1.875rem;
                margin:0;
                flex-grow: 11;
                z-index: 2;
                @include bp(m){
                    z-index: 9;
                    margin: auto;
                    max-width: 60%;
                    text-align:center;
                }
            }
            .notify{
                flex-grow: 0;
                position: absolute;
                z-index: 99;
                text-align: center;
                right: 22%;
                top: -3rem;
                .icon-notification{
                    font-size: 1.9rem;
                    cursor: pointer;
                    .detail{
                        position: absolute;
                        top:0;
                        right:0;
                        background: $notify;
                        border-radius: 100%;
                        color:$black;
                        font-size: 0.8rem;
                        width:0.9rem;
                        height:0.9rem;
                        padding: 0.1rem;
                        text-align: center;
                        border:0.02rem solid $black;
                        line-height: 1.2;
                        font-family: 'DaxOT Bold';
                    }
                }
                &-list{
                    position: absolute;
                    right:0;
                    list-style-type: none;
                    background:$lightBlue;
                    border-radius: .3rem;
                    min-width: 250px;
                    height: auto;
                    padding: 0;
                    .triangle-up {
                        width: 0px;
                        height: 0px;
                        border-left: 0.5rem solid transparent;
                        border-right: 0.5rem solid transparent;
                        border-bottom: 1rem solid $lightBlue;
                        position: absolute;
                        right: 3%;
                        top: -8%;
                    }
                    li{
                        padding:0.7rem 1rem;
                        border-bottom: 0.05rem solid rgba($color: $white, $alpha: 0.5);
                        text-align: left;
                        color: $white;
                        font-size:0.8rem;
                        display: flex;
                        justify-content: space-between;
                        .MuiButtonBase-root{
                            padding:0;
                            border:none;
                            color:$white;
                            font-size:0.8rem;
                            text-transform: none;
                        }
                        .greenalert{
                            background: $notify;
                            border-radius: 100%;
                            width:0.5rem;
                            height:0.5rem;
                            margin-top: 0.3rem;
                        }
                        &.center{
                            text-align: center;
                            justify-content: center;
                        }
                        &:last-child{
                            border-bottom: none;
                        }
                    }
                }
                @include bp(m){
                    right: 10%;
                    top:-1rem;
                }
                @include bp-from(xl){
                    right: 7%;
                    top:-1rem;
                }
            }
        }
        .solutionCarouselContainer{
            margin:0 auto;
            width:100%;
            position: relative;
            .solutionTag{
                background: $actionBlue;
                color: $white;
                font-size:0.875rem;
                position: absolute;
                top:1rem;
                left:-1rem;
                z-index: 2;
                padding: 0.2rem 0.5rem;
                border-radius: 0.7rem;
            }
            .carousel{
                &.carousel-slider{
                    margin:2rem 0 0 0;
                    overflow: unset;
                }
                .slider{
                    .slide{
                        background: transparent;
                        border-radius: 0.5rem;
                        img{
                            width: 50%;
                        }
                        .Card{
                            // background: $darkBlue;
                            position: relative;
                            margin: 0;
                            z-index: 2;
                            border-radius: 0.625rem;
                            padding:1.375rem;
                            text-align: left;
                            cursor: pointer;
                            h4{
                                font-size:1.25rem;
                                margin-bottom: 0;
                                width: 70%;
                                display:flex;
                                flex-direction: column;
                            }
                            .imgNone{
                                opacity: 0;
                                width: 10px;
                                height: 10px;
                            }
                            .solutionTitile{
                                display: flex;
                                padding:0 2rem;
                                border-right:none;
                                width:100%;
                                img{
                                    margin-right:1rem;
                                    opacity: 1;
                                    @include bp(xl){
                                        margin-right:2rem;
                                    }
                                }
                                @include bp(m){
                                    width:60%;
                                    border-right:0.0625rem solid rgba($color: $borderBlue, $alpha: 0.1);
                                }
                            }
                            .solutionDetail{
                                padding:0 0 0 0;
                                width:100%;
                                p{
                                    font-size: 1rem;
                                }
                                @include bp(m){
                                    padding:0 0 0 2rem;
                                }
                            }
                            @include bp(m){
                                display: flex;
                            }
                        }
                    }
                }
                .carousel-status{
                    display: none;
                }
                .thumbs-wrapper{
                    display: none;
                }
            }
            @include bp(m){
                width:80%;
            }
        }
        .solutionAction{
            display: flex;
            justify-content: center;
            position: relative;
            margin:1rem 0;
            button{
                color:$white;
                text-decoration: none;
                background:rgba($color: $actionBlue, $alpha: 0.2);
                margin:0 0.5rem;
                border-radius: 0.5rem;
                padding:1rem 2rem;
            }
        }
        .footer{
            font-display: block;
            font-size: 1rem;
            padding:0.5rem 0rem;
            div{
                margin:0 0 0.5rem;
                @include bp(m){
                    margin:0 3rem;
                }
            }
            a{
                color:#c5527f;
            }
            @include bp(m){
                padding:0.5rem 6rem;
                display: flex;
                justify-content: space-between;
            }
        }
        @include bp-from(m){
            padding:3.5rem 0 0;
        }
    }
}
::-webkit-scrollbar {
    width: 5px;
    height:5px;
}
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.light-theme{
    .solutionTitile{
        border-right:none;
        h4{
            color: $textday;
        }
        @include bp(m){
            border-right:0.0625rem solid rgba(56, 71, 101, 0.07)!important;
        }
    }
    .solutionDetail{
        h4{
            color: $textday;
        }
    }
}
// Notification popup

.MuiDialog-root{
    .MuiDialog-container{
        .MuiPaper-root{
            background:$lightBlue;
            color:$white;
            min-width: 25rem;
            max-width: 25rem;
            .MuiDialogTitle-root{
                text-align: center;
                font-weight: bold;
            }
            .MuiDialogContent-root{
                padding:0!important;
                ul{
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    li{
                        padding:0.8rem 1.5rem;
                        border-bottom: 0.08rem solid rgba($color: $white, $alpha: 0.2);
                        text-align: left;
                        color: $white;
                        font-size:0.8rem;
                        display: flex;
                        justify-content: space-between;
                        .greenalert{
                            background: $notify;
                            border-radius: 100%;
                            width:0.5rem;
                            height:0.5rem;
                            margin-top: 0.3rem;
                        }
                    }
                }
            }
            @include bp-from(m){
                min-width: 45rem;
                max-width: 55rem;
            }
        }
    }
}