@import '../../../assets/scss/BreakPoint.scss';

nav{
    padding:0.2rem 0 0 1rem;
    span{
        font-size: 1.8rem;
    }
    @include bp(l){
        padding:2rem 0 0 2rem;
    }
    @include bp(xl){
        padding:2rem 0 0 3rem;
    }
}
