@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/BreakPoint.scss';
@import '../../assets/scss/Animation.scss';
@import '../../assets/scss/Fonts.scss';
.whyChooseImg{
    .carouselContainer{
        .carousel{
            .carousel-dots{
                margin-top: 0.5rem;
                li{
                    width: 15px;
                    height: 15px;
                    @include bp-from(m){
                        width: 15px;
                        height: 15px;
                    }
                }
            }
            img{
                width: 12rem;
                height: 100%;
                @include bp-from(m){
                    width: 23rem;
                }
            }   
        }
    }    
}    