@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/BreakPoint.scss';
@import '../../assets/scss/Animation.scss';
@import '../../assets/scss/Fonts.scss';
//learnabout tic

.learnAboutTIC{
    display: block;
    .dark-theme{
        background: rgba(21,38,135,1);
        background: -moz-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(21,38,135,1)), color-stop(56%, rgba(25,25,103,1)), color-stop(100%, rgba(26,23,100,1)));
        background: -webkit-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        background: linear-gradient(135deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152687', endColorstr='#1a1764', GradientType=1 );
        position: relative;
        width:100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        scroll-behavior: smooth ;
        color:$white;
        box-sizing: border-box;
        padding: 0;
        .topBgGradient{
            background: url('../../assets/images/topBgGradient.png') no-repeat 0 0;
            position: absolute;
            top:0;
            left:0;
            z-index: 1;
            background-size: 100%;
            width: 82%;
            height: 10rem;
            @include bp(m){
                background: url('../../assets/images/topBgGradient.png') no-repeat 0 0;
                background-size:100%;
                width: 85%;
                height: 100vh;
            }
            @include bp(l){
                background: url('../../assets/images/topBgGradient.png') no-repeat 0 0;
                background-size:100%;
                width: 35%;
                height: 11rem;
            }
            @include bp(xl){
                width: 32%;
                height:15rem;
            }
        }
        .icon-nav{
            color:$white;
            font-size: 1.5rem;
            @include bp(xl) {
                font-size: 2rem;
            }
        }
        .MuiIconButton-root {
            color: $white;
        }
        .gradientRight{
            background: url('../../assets/images/gradients/Curtain2.png') no-repeat bottom right;
        }
        .gradientLeft{
            background: url('../../assets/images/gradients/curtain3.png') no-repeat bottom left;
        }
        .applyNowBtn a{
            background-image: url('../../assets/images/lets-engage-night.png');
            
        }
    }
    .light-theme{
        background: -webkit-gradient(left bottom, right top, color-stop(0%, white), color-stop(100%, #abdefb));
        position: relative;
        width:100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $black;
        overflow: hidden;
        box-sizing: border-box;
        padding:0;
        .topBgGradient{
            background: url('../../assets/images/topBgGradientDay.png') no-repeat 0 0;
            position: absolute;
            top:0;
            left:0;
            z-index: 1;
            background-size: 100%;
            width: 82%;
            height: 10rem;
            @include bp(m){
                background: url('../../assets/images/topBgGradientDay.png') no-repeat 0 0;
                background-size:100%;
                width: 71%;
                height: 100vh;
            }
            @include bp(l){
                background: url('../../assets/images/topBgGradientDay.png') no-repeat 0 0;
                background-size:100%;
                width: 35%;
                height: 11rem;
            }
            @include bp(xl){
                width: 32%;
                height:15rem;
            }
        }

        .icon-nav{
            color:$textday;
            font-size: 1.5rem;
            @include bp(xl) {
                font-size: 2rem;
            }
        }
        .gradientRight{
            background: url('../../assets/images/TIC/day-Curtain2.png') no-repeat bottom right;
        }
        .gradientLeft{
            background: url('../../assets/images/gradients/day-Curtain3.png') no-repeat bottom left;
        }
        .applyNowBtn a{
            background-image: url('../../assets/images/lets-engage-day.png');
            
        }
    }   
    nav {
        display: flex;
        width: calc(100% - 0rem);
        padding:1rem 1rem;
        justify-content: space-between;
        position: fixed;
        z-index: 9;
        .makeStyles-root-1 {
            align-items: center;
            display: inherit;
            position: relative;
            z-index: 999;
            .MuiIconButton-root {
                color: $white;
            }
            .makeStyles-content-9 {
                padding: 0px;
                @include bp-between(m, xl) {
                    padding: 24px;
                }
            }
        }
        .themeSwitch {
            align-items: center;
            display: inherit;
            position: fixed;
            z-index: 3;
            right: 5%;
            top: 5%;
            @include bp-from(m) {
                position: fixed;
                right: 5%;
                top: 5%;
            }
        }
        @include bp-from(m){
            padding: 1.5rem;
            width: calc(100% - 3rem);
        }
        @include bp-from(xl){
            padding: 2rem;
            width: calc(100% - 4rem);
        }
    }
    .applyNowBtn{
        width:4rem;
        height:4rem;
        position: fixed;
        text-align: center;
        bottom:1.5rem;
        right:1.5rem;
        z-index: 999;
        a{
            border: none;
            width:100%;
            height:100%;
            background-size: 100% 100%;
            transform: scale(2.5);
            color: transparent;
            border-radius: 100%;
            cursor: pointer;
            display: flex;
            text-decoration: none;
            align-items: center;
            @include bp-from(xl) {
                font-size: 1.2rem;
                line-height: 1.3;
            }
        }
        @include bp-from(l) {
            bottom:5rem;
            right:5rem;
        }
        @include bp-from(xl) {
            bottom:8rem;
            right:8rem;
            width:5rem;
            height:5rem;
            text-align: center;
        }
    }
    .parallax{
        position: relative;
        padding: 0;
        min-height: 100%;
        box-sizing: border-box;
        background: 50% 50% / cover;   
    }
    .section1{
        width: 100%;
        min-height: 25rem;
        height: 100%;
        position: inherit;
        .coolSpace{
            display: block;
            padding:0;
            position: relative;
            background: url('../../assets/images/TICBgBuilding.png') no-repeat -5rem -10rem;
            background-size: cover;
            

            .spaceTitle{
                padding:5rem 0rem 1rem 1rem;
                position: inherit;
                left:20%;
                top: 1rem;
                animation-name: spaceTitle;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-duration: 2s;
                animation-direction: alternate;
                width:75%;
                h2{
                    font-family: 'DaxOT Bold';
                    font-size: 1.8rem;
                    @include bp-from(m) {
                        font-size: 3.2rem;
                    }
                    @include bp-from(xl) {
                        font-size: 3.6rem;
                    }
                    span{
                        color:$pink;
                    }
                }
                @include bp-from(m){
                    left:20%;
                    top: 5rem;
                }
                @include bp-from(l) {
                    padding:6rem 2rem;
                    left:0%;
                    width:50%;
                }
                @include bp-from(xl) {
                    padding:5rem 2rem 0;
                }
            }
            .spaceImg{
                width:100%;
                height: 100%;
                text-align: center;
                position:relative;
                animation-name: spaceGirl;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-duration: 5s;
                animation-direction: alternate;
                margin:auto;
                .spacegirl{
                    width:100%;
                    height:60vh;
                    background-size: contain;
                    @include bp-from(m) {
                        margin-left: 5%;
                        width:90%;
                        height:100vh;
                    }
                }
                @include bp-from(m) {
                    width: 100%;
                }
            }
            @include bp-from(l) {
                justify-content: center;
                display: flex;
                padding:4rem;
            }
            @include bp-from(xl) {
                justify-content: center;
                display: flex;
                padding:6rem;
            }
        }
        .gradientRight{
            position: absolute;
            width: 15%;
            height: 70%;
            z-index: 1;
            bottom: 0;
            right: 0;
            background-size: contain;
        }
        @include bp-from(l) {
            height: 45rem;
        }
        @include bp-from(xl) {
            height: 50rem;
        }
    }
    .section2{
        width: 100%;
        min-height: 25rem;
        height: 100%;
        position: inherit;
        overflow-x: hidden;
        .labConatner{
            position: inherit;
            display: block;
            padding: 1rem;
            z-index: 1;
            .labImg{
                animation-name: labImg;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-duration: 2s;
                animation-direction: alternate;
                text-align: center;
                img{
                    width:80%;
                }
            }
            .labTitle{
                right:0;
                animation-name: labText;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-duration: 2s;
                animation-direction: alternate;
                position: inherit;
                width:100%;
                h2{
                    font-family: 'DaxOT Bold';
                    font-size: 1.8rem;
                    margin: 0.5rem 0;
                    @include bp-from(l) {
                        font-size: 2.5rem;
                    }
                    @include bp-from(xl) {
                        font-size: 3.6rem;
                        margin:0;
                    }
                    span{
                        color:$pink;
                    }
                }
                p{
                    line-height: 1.2;
                    font-size: 1rem;
                    @include bp-from(l) {
                        line-height: 1.95;
                        font-size: 1.25rem;
                    }
                }
                @include bp-from(l) {
                    width:55%;
                    padding: 0 2rem;
                }
                @include bp-from(xl) {
                    width:45%;
                }
            }
            @include bp-from(l) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
            }
            @include bp-from(xl) {
                justify-content: center;
            }
        }
        .gradientLeft{
            position: absolute;
            width: 15%;
            height: 15%;
            z-index: 0;
            bottom: 0;
            left: 0;
            background-size: contain;
            @include bp-from(l) {
                height: 35%;
            }
            @include bp-from(xl) {
                height: 59%;
            }
        }
        @include bp-from(l) {
            height: 45rem;
        }
    } 
    .section3{
        margin-bottom: 3rem;
        overflow: hidden;
        .titleInovation{
            text-align: center;
            margin: 0 2rem 3rem; 
            animation-name: innovationTitle;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-duration: 2s;
            animation-direction: alternate;
            position: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                font-family: 'DaxOT Bold';
                font-size: 1.8rem;
                margin: 0.5rem 0;
                @include bp-from(l) {
                    font-size: 2.5rem;
                }
                @include bp-from(xl) {
                    font-size: 3.6rem;
                    margin:0;
                }
                span{
                    color:$pink;
                }
            }
            h3{
                font-family: 'DaxOT Bold';
                font-size: 1.2rem;
                margin: 0.5rem 0;
                width: 80%;
                @include bp-from(l) {
                    font-size: 1.2rem;
                }
                @include bp-from(xl) {
                    font-size: 1.8rem;
                    margin:0;
                }
                span{
                    color:$pink;
                }
            }
            @include bp-from(m) {
                margin: 0 auto 3rem; 
            }
        }
        .gridInovation{
            margin: 0 auto 3rem;
            padding: 0;
            display: none;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            max-width: 800px;
            width:100%;
            min-height: 400px;
            .inovationItem{
                background: rgba(3,70,213,0.2) ;
                border:5px solid rgba(95,55,229, 0.2);
                border-radius: 0.6rem;
                width:50%;
                height:100%;
                padding:4% 12%;
                font-size: 0.9rem;
                line-height: 1.7;
                position: relative;
                display: none;
                
                &:first-child{
                    animation-name: innovationItem1;
                    animation-timing-function: ease-in;
                    animation-iteration-count: 1;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    animation-delay: 1s;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    img{
                        @include bp-from(l){
                            width: 45%;
                         }
                     }
                    @include  bp-from(m){
                        text-align: left;
                    }
                }
                &:nth-child(2){
                    animation-name: innovationItem2;
                    animation-timing-function: ease-in;
                    animation-iteration-count: 1;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    animation-delay: 2s;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    img{
                        @include bp-from(l){
                            width: 48%;
                            top :5%;
                         }
                     }
                    @include  bp-from(m){
                        text-align: left;
                    }
                }
                &:nth-child(3){
                    animation-name: innovationItem3;
                    animation-timing-function: ease-in;
                    animation-iteration-count: 1;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    animation-delay: 3s;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    @include  bp-from(m){
                        text-align: left;
                    }
                    img{
                       @include bp-from(l){
                           width: 50%;
                        }
                    }
                }
                
                &:nth-child(4){
                    animation-name: innovationItem4;
                    animation-timing-function: ease-in;
                    animation-iteration-count: 1;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    animation-delay: 4s;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    img{
                        @include bp-from(l){
                            width: 60%;
                            right: -9%;
                        }
                    }
                    @include  bp-from(m){
                        text-align: left;
                    }
                    
                }
                &:nth-child(5){
                    animation-name: innovationItem5;
                    animation-timing-function: ease-in;
                    animation-iteration-count: 1;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    animation-delay: 5s;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    img{
                        @include bp-from(l){
                            width: 40%;
                        }
                    }
                    @include  bp-from(m){
                        text-align: left;
                    }
                }
                &:nth-child(6){
                    animation-name: innovationItem6;
                    animation-timing-function: ease-in;
                    animation-iteration-count: 1;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    animation-delay: 6s;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    img{
                        @include bp-from(l){
                            width: 40%;
                        }
                    }
                    @include  bp-from(m){
                        text-align: left;
                    }
                }
                img{
                    position: absolute;
                    z-index: 9;
                    width: 44%;
                    bottom: 5%;
                    left: 30%;
                    
                    @include bp-from(m) {
                        width: 25%;
                        left: unset;
                        right: 2%;
                    }
                    @include bp-between(l,xl) {
                        top: 10%;
                        width: 35%;
                        right: -3%;
                        top: 15%;
                        bottom:unset;
                        left:unset;
                    }
                }
                @include bp-from(m){
                    height: 80%;
                    width: 67%;
                }
                @include bp-from(l) {
                    width:50%;
                    height:65%;
                    padding:8% 30% 11% 10%;
                    font-size: 0.9rem;
                    line-height: 1.4;
                    position: relative;
                    display: unset;
                }
            }
            @include bp-from(m) {
                grid-template-columns: 1fr 1fr 1fr;
                display: grid;
                width: 80%;
            }
            @include bp-from(xl) {
                max-width: 980px;
                min-height: 530px;
            }
        }
        .next,.prev{
            z-index: 20;
            width: 3rem;
            height: 3rem;
            background: #301c92;
            opacity: 0.8;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            span{
                &:before{
                    font-size:1.5rem;
                }
            }    
        }
        .next{
            position: absolute;
            right:0;
            top:50%;     
        }
        .prev{
            position: absolute;
            left:0;
            top:50%;
        }
        @include bp-from(l){
            a{
                display: none !important;
            }  
        }
    }
    .section4{
        text-align: center;
        width:100%;
        margin: auto;
        padding: 3rem 5% 2rem;
        overflow: hidden;
        .whyChooseText{
            h2{
                font-family: 'DaxOT Bold';
                font-size: 1.8rem;
                margin: 0.5rem 4rem;
                @include bp-from(l) {
                    font-size: 2.5rem;
                }
                @include bp-from(xl) {
                    font-size: 3.6rem;
                    margin:0;
                }
                span{
                    color:$pink;
                }
            }
            p{
                line-height: 1.4;
                font-size: 1rem;
                @include bp-from(l) {
                    line-height: 1.95;
                    font-size: 1.25rem;
                }
            }
        }
        .whyChooseImg{
            display: flex;
            justify-content: space-around;
            margin: 4rem 0 1rem;
            .carouselContainer{
                display: block;
                width: 60%;
                margin-left: -6%;
                @include bp-from(l){
                    display: none;
                }
            }
            img{
                width:20%;
                height: 20%;
                &:nth-child(2){
                    width:50%;
                    margin-left:-1%;
                    display: none;
                }
                &:nth-child(3){
                    width:58%;
                    margin-left:-6%;
                    display: block;
                }
                &:nth-child(4){
                    margin-left:-5%;
                }
                  
                @include bp-from(l) {
                    width:auto;
                    &:nth-child(2){
                        width:57%;
                        margin-left:-5%;
                        display: block;

                    }
                    &:nth-child(3){
                        width:57%;
                        margin-left:-5%;
                        display: none;
                        
                    }
                    &:nth-child(4){
                        margin-left:-10%;
                    }
                }
            }
            @include bp-from(l) {
                margin: 4rem 0 0;
            }
        }
        .gradientRight{
            position: absolute;
            width: 15%;
            height: 100%;
            z-index: 0;
            bottom: 0;
            right: 0;
            background-size: contain;
        }
        @include bp-from(l) {
            width: 100%;
            padding: 3rem 5% 5rem;
        }
    }
    footer.footerTic{
        text-align: center;
        padding:0rem 2rem 1rem;
        background-image: url('../../assets/images/bajajpage/Curtain6.png');
        background-position: bottom right;
        background-size:contain;
        background-repeat: no-repeat;
        .needHelp{
            line-height: 1.96rem;
            a{
                color:$pink;
            }
            @include bp-from(m) {
                font-size: 1.5rem;
            }
        }
        .socialIconTic{
            max-width:100px;
            display: flex;
            justify-content: center;
            margin:auto;
            a {
                margin:2rem 0.5rem 1rem;
                text-decoration: none;
                cursor: pointer;
                border-radius: 100%;
                padding:0.3rem 0.5rem;
                height: 20px;
                @include bp-from(l) {
                    margin:3rem 0.5rem 1rem;
                    height: 30px;
                }
            }
            @include bp-from(l) {
                max-width:150px;
                font-size:1.5rem;
                margin:0;
            }
        }
        @include bp-from(l) {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: auto;
            align-items:center;
        }
    }
}

#displayBolck{
    display: block !important;
    margin: 0 auto;
    @include bp-from(l) {
        display: unset;
        margin: unset;
    }
}

.dark-theme{
    .spaceImg{
        .spacegirl{
            background: url('../../assets/images/TIC/TopGirlwithbg.png') no-repeat 0 0;
        }
    }
    .socialIconTic{
        a{
            background: $white;
            span{
                color:$nightTheme;
            }
        }
    }
}

.light-theme{
    .spaceImg{
        .spacegirl{
            background: url('../../assets/images/TIC/daythemetic.png') no-repeat 0 0;
        }
    }
    .socialIconTic{
        a{
            background: $nightTheme;
            span{
                color:$white;
            }
        }
    }
}

