@import '../../../assets/scss/Variable.scss';
@import '../../../assets/scss/BreakPoint.scss';
@import '../../../assets/scss/Animation.scss';
@import '../../../assets/scss/Fonts.scss';

.introTOBajaj{
    .light-theme{
        .cardContainer{
            .cardItems{
                .card{
                    .text{
                        background-color: rgba(3, 70, 213, 0.2);
                    }
                }
            }
        }
        .carousel-prev{
            
            &:after{
                background: #5136d9;      
            }
        }
        .carousel-next{
            
            &:after{
                background: #5136d9;
            }
        }
    }
}
.cardContainer {
    position: relative;
    .cardItems {
        justify-content: space-around;
        margin-bottom: 10%;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        .card {
            width: 100%;
            height: 20.5rem;
            display: inline-block;
            margin-right: 5%;
            .image{
                background-position: center bottom;
                background-size: 55% 90%;
                background-repeat: no-repeat;
                width: 90%;
                height: 12.5rem;
                position: absolute;
                z-index: 1;
                @include bp-from(m){
                    background-size: 75% 90%;
                    background-repeat: no-repeat;
                    width: 12.5rem;
                    height: 12.5rem;       
                }
            }
            
            .text{
                height: 100%;
                width: 100%;
                background-color: #301c92;
                clip-path: polygon(0 33%, 100% 46%, 100% 100%, 0% 100%);
                border-radius: 5px;
                position: relative;
                text-align: center;
                h3{
                    position: absolute;
                    bottom: 0px;
                    padding: 0 10px;
                    width: calc(100% - 20px);
                    white-space: normal;
                } 
            }
            @include bp-from(m){
                width:12.5rem;
            
            }
        }
        .card{
            .image1{
                background-image: url('../../../assets/images/homePageCarouselImage/POS-POP-Innovations-01.png');
            }
            .image2{
                background-image: url('../../../assets/images/homePageCarouselImage/Frictionless-Search-&-Purchase-Enablers-01.png');
            }
            .image3{
                background-image: url('../../../assets/images/homePageCarouselImage/Applied-AI-&-General-AI-Experiments-01.png');
            }
            .image4{
                background-image: url('../../../assets/images/homePageCarouselImage/Hardware,Kiosks,Appliances-&-Gadgets-01.png');
            }
            .image5{
                background-image: url('../../../assets/images/homePageCarouselImage/Virtual-&-Augmented-Reality-01.png');
            }
            .image6{
                background-image: url('../../../assets/images/homePageCarouselImage/Projections-&-Camera-Tech-01.png');
            }
            .image7{
                background-image: url('../../../assets/images/homePageCarouselImage/Mobility,Bots-and-Apps-01.png');
            }
            .image8{
                background-image: url('../../../assets/images/homePageCarouselImage/IoT,sensors-&-devices-01.png');
            }
            .image9{
                background-image: url('../../../assets/images/homePageCarouselImage/Design-Thinking-01-01.png');
            }
            .image10{
                background-image: url('../../../assets/images/homePageCarouselImage/DB-&-Cloud-Infra-technologies-01.png');
            }
            .image11{
                background-image: url('../../../assets/images/homePageCarouselImage/API-&-Programming-01-01.png');
            }
            .image12{
                background-image: url('../../../assets/images/homePageCarouselImage/Conversational-Search-01-01.png');
            }
            .image13{
                background-image: url('../../../assets/images/homePageCarouselImage/Conversational-Commerce-01.png');
            }
            .image14{
                background-image: url('../../../assets/images/homePageCarouselImage/Conversational-Analytics-01-01.png');
            }
            .image15{
                background-image: url('../../../assets/images/homePageCarouselImage/Robotics-&-Drones-01-01.png');
            }
            .image16{
                background-image: url('../../../assets/images/homePageCarouselImage/Device-Fingerprinting-01-01.png');
            }
        }
    }
    .carousel-prev{
        &:before{
            opacity: 0;
        }
        &:after{
            font-family: 'icomoon';
            content: "\e906";
            font-size: 1rem;
            background: #301c92;
            width: 5rem;
            height: 2.5rem;
            border-radius: 100%;
            color: $white;
            line-height: 2.5;        
        }
    }
    .carousel-next{
        &:before{
            opacity: 0;
        }
        &:after{
            font-family: 'icomoon';
            content: "\e905";
            font-size: 1rem;
            background: #301c92;
            width: 5rem;
            height: 2.5rem;
            border-radius: 100%;
            color: $white;
            line-height: 2.5;
        }
    }
    &.desktop{
        display: none;
        @include bp-from(m){
            display: block;
        }
    }
}