@import '../../../assets/scss/Variable.scss';
@import '../../../assets/scss/BreakPoint.scss';
@import '../../../assets/scss/Icomoon.scss';

.landingContainer{
    .companyformContainer{
        position: absolute;
        top:15%;
        width:100%;
        z-index:0;
        .blur{
            opacity: 0.3;
            pointer-events: none;
            margin-top: 0% !important;
        }
        .blur.margin-top{
            margin-top: -55% !important;
            @include bp(m){
                margin-top: -25% !important;
            }
            @include bp(l){
                margin-top: -15% !important;
            }
        }
        .blur.margin-top-5{
            margin-top: -45% !important;
            @include bp(m){
                margin-top: -15% !important;
            }
            @include bp(l){
                margin-top: -10% !important;
            }
        }
        .blur.margin-top-bottom{
            margin-top:-5% !important;
            margin-bottom: 5% !important;
        }
        .blur.numberInput{
            .MuiInputBase-input {
                font: inherit;
                color: currentColor;
                width: 100%;
                border: 0;
                height: 1.1875em;
                margin: 0;
                display: block;
                padding: 6px 0 7px;
                min-width: 0;
                background: none;
                box-sizing: content-box;
                animation-name: MuiInputBase-keyframes-auto-fill-cancel;
                -webkit-tap-highlight-color: transparent;
            }
        }
        &.compny1{
            top:22%;
            @include bp(m){
                top:20%;
            }
        }
        &.scrollText{
            top:5%;
        }
        .skip{
            text-align: center;
        }
        &.scrollsolution{
            height: 100%;
            overflow-y: auto;
        }
        .stepButtons{
            button.MuiButtonBase-root{
                position: fixed;
                top: 50%;
                &:hover{
                    background-color: rgb(52, 73, 235)!important;
                }
                &:focus{
                    outline:none;
                }
            }
        }
        .fieldClass{
            position: relative;
            top: 30%;
            left:13%;
            width: 60%;
            h2{
                text-align: center;
                font-size: 1.3rem;
                margin-bottom:3rem;
                @include bp-from(m){
                    font-size: 2.25rem;
                    margin-bottom:1.5rem;
                }
            }
            .MuiInputBase-root{
                margin:0.3rem 0!important;
                width:max-content !important;
                min-width: 100%;
                max-width: 100%;
                .MuiInputBase-input{
                    font-size: 1.4rem;
                    font-weight: bold;
                    padding: 0.5rem 0;
                    line-height: 1.4;
                    opacity:0.8;
                    &::-webkit-inner-spin-button{
                        -webkit-appearance: none; 
                    }
                    &::-webkit-outer-spin-button{
                        -webkit-appearance: none; 
                    }
                    @include bp-from(m) {
                        font-size: 1.6rem;
                    }
                }
                .MuiInputBase-inputSelect{
                    &[placeholder="select"]{
                        opacity: 0.4;
                    }
                }
                &.MuiInput-underline{
                    &:before{
                        border-bottom: none;
                    }
                    &:after{
                        border-bottom: none;
                    }
                }
                @include bp(xl){
                    margin:1rem 0;
                }
                .MuiSelect-selectMenu{
                    .MuiChip-root{
                        background: $blue;
                        color:$white;
                        margin:0 0.5rem 0.5rem 0;
                        border-radius: 0.4rem!important;
                    }
                }
                @include bp-from(m){
                    min-width: 30%;
                    max-width: 100%;
                }
            }
            .css-2b097c-container{
                margin:0.3rem 0!important;
                width:max-content !important;
                min-width: 100%;
                max-width: 100%;
                min-height: 50px;
                .css-yk16xz-control{
                    font-size: 1.4rem;
                    font-weight: bold;
                    // padding: 0.5rem 0;
                    line-height: 1.4;
                    .css-1wa3eu0-placeholder{
                        font-size: 1.6rem;
                        font-weight: bold;
                    }
                    &:focus{
                        outline:none;
                        padding: 0;
                    }
                    .css-tlfecz-indicatorContainer{
                        &:before{
                            content: '\e90f';
                            font-family: "icomoon";
                            font-size: 0.5rem;
                            opacity: 1;
                        }
                        svg{
                            display: none;
                        }
                    }
                    @include bp-from(m) {
                        font-size: 1.6rem;
                    }
                }
                @include bp(xl){
                    margin:1rem 0;
                }
                .MuiSelect-selectMenu{
                    .MuiChip-root{
                        background: $blue;
                        color:$white;
                        margin:0 0.5rem 0.5rem 0;
                        border-radius: 0.4rem!important;
                    }
                }
                &:focus{
                    outline:0;
                    padding: 0.5rem 0;
                }
                @include bp(m){
                    min-width: 30%;
                    max-width: 100%;
                    height:auto;
                }
            }
            &:first-child{
                display: flex;
                label{
                    margin-right:0rem;
                    @include bp-from(l){
                        margin-right:5rem;
                    }
                }
            }
            &.partnerTab{
                .MuiButton-text{
                    background: $formBLue;
                    color:$white;
                    padding:0.4rem 0.8rem;
                    margin:0 0.5rem 0.5rem 0;
                    &.selected{
                        background: $actionBlue;
                    }
                    .icon{
                        margin-left: 0.3rem;
                        font-size: 0.7rem;
                    }
                    @include bp-from(m){
                        margin-right: 1rem;
                    }
                }
            }
            @include bp-from(m){
                left:20%;
                width: 60%;
            }
        }
        form{
            &.mobileWidthfield{
                .fieldClass{
                    width:70%;
                }
            }
        }
        .widthSunmit{
            .fieldClass{
                margin-top: 25%;
                left: 6%;
                width: 80%;
                @include bp-from(m){
                    left:10%;
                    margin-top:10%;
                }
            }
        }
        .morebtn{
            position: relative;
            top: 0%;
            left: 17%;
            width: 60%;
            .MuiButton-text{
                background: $darkblue;
                color: $white;
                padding: 0.5rem;
                line-height: 1.2;
                .icon{
                    background: $white;
                    color: $darkblue;
                    border-radius: 100%;
                    margin-right: 0.3rem;
                    padding: 0.1rem;
                    font-size: 0.7rem;
                }
            }
            @include bp-from(m){
                left: 20%;
                top:30%;
            }
        }
        .submitbtn{
            position: relative;
            top: 30%;
            left: 0;
            width: 100%;
            text-align: center;
            .MuiButton-text{
                background: $formBLue;
                color: $white;
                padding: 1rem 3rem;
                line-height: 1.2;
                border-radius: 1.5rem;
                font-size: 1.2rem;
            }
        }
        .checkbox-filed{
            display: flex;
            .fieldClass{
                width: max-content;
                span{
                    padding: 1px;
                }
                .MuiIconButton-label{  
                    color: #0ccb4f!important;
                    &:focus{
                        background-color: unset;
                    }
                }
                &:hover{
                    background-color: unset;
                }
                &:focus{
                    background-color: unset;
                }
            }
        }
        form{
            margin-top:2rem;
            .fieldClass{
                top:0;
                @include bp-from(l) {
                    top:30%;
                }
            }
            .socialLink {
                width:60%;
                margin:0 auto 0rem;
                display:flex;
                align-items: center;
                .icon{
                    background: $white;
                    padding:0.5rem;
                    height:1rem;
                    border-radius: 100%;
                    margin:0.5rem 0.7rem 0 0;
                }
                .fieldClass{
                    left:0;
                    margin:0 0.5rem 1rem;
                    width:max-content;
                    min-width: 30%;
                    .MuiInputBase-root{
                        margin:0!important;
                    }
                    @include bp(m) {
                        left:13%;
                    }
                }
                @include bp-from(m) {
                    margin:0 auto 1rem;
                }
            }
            .fieldClass{
                &:first-child{
                    display: block;
                }
                .textareaContainer{
                    position: relative;
                    width:95%!important;
                    height:15rem!important;
                    div{
                        width: 100%;
                        height: 95%;
                        position: relative;
                        textarea{
                            margin-top:0.5rem; 
                            width:calc(100% - 1rem)!important;
                            height:calc(100% - 2rem) !important;
                            border:none;
                            resize:none;
                            border-radius: 0.5rem;
                            padding:1rem;
                            font-size: 1.4rem;
                        }
                        @include bp-from(m) {
                            height: 100%;
                            margin-top:1rem; 
                        }
                    }
                    .icon-microphone-black-shape{
                        position: absolute;
                        bottom:5%;
                        right:-5%;
                        background: $blue;
                        color: $white;
                        padding:0.7rem;
                        border-radius: 100%;
                        font-size: 1rem;
                        cursor: pointer;
                        @include bp-from(m) {
                            font-size: 1.2rem;
                            bottom:0%;
                            right:0%;
                        }
                    }
                    @include bp-from(m) {
                        height:12rem!important;
                        width:100%
                    }
                    @include bp-from(xl) {
                        height:15rem!important;
                    }
                }
                .css-2b097c-container{
                    padding:0;
                    .css-yk16xz-control{
                        line-height: 1.4;
                        height: auto;
                        background: transparent;
                        border:none;
                        .css-1rhbuit-multiValue{
                            background:$blue;
                            border-radius: 0.3rem;
                            margin:0 0.5rem 0.5rem 0;
                            &:hover{
                                border-radius: 0.3rem;
                            }
                            &:focus{
                                background:$blue;
                                outline: 0;
                            }
                            .css-12jo7m5{
                                color:$white;
                                font-size: 1.3rem;
                                padding: 0.5rem 1.3rem;
                                font-weight: bold;
                            }
                            .css-1alnv5e{
                                width:35px;
                                color:$white;
                                svg{
                                    width:30px;
                                    height: 30px;
                                }
                                &:hover{
                                    background: $blue;
                                }
                            }
                            &:focus{
                                margin: 0;
                            }
                        }
                        .css-1hwfws3{
                            font-size: 1.4rem;
                            font-weight: bold;
                            padding: 0rem;
                            &:focus{
                                outline: 0!important;
                                font-size: 1.4rem;
                                padding: 0rem;
                                @include bp-from(m) {
                                    font-size: 1.6rem;
                                }
                            }
                            .css-11wa3eu0-placeholder{
                                font-size: 1.4rem;
                                font-weight: bold;
                                @include bp-from(m) {
                                    font-size: 1.6rem;
                                }
                            }
                            @include bp-from(m) {
                                font-size: 1.6rem;
                            }
                        }
                        .css-tlfecz-indicatorContainer{
                            &:before{
                                content: '\e90f';
                                font-family: "icomoon";
                                font-size: 0.5rem;
                                opacity: 1;
                            }
                            svg{
                                display: none;
                            }
                        }
                        .css-1okebmr-indicatorSeparator{
                            display: none;
                        }
                        &:focus{
                            background: transparent;
                            outline: 0!important;
                        }
                    }
                    .css-14jk2my-container{
                        line-height: 1.4;
                        height: 50px;
                        background: transparent;
                        border:none;
                        .css-1rhbuit-multiValue{
                            background:$blue;
                            border-radius: 0.3rem;
                            margin:0 0.5rem 0.5rem 0;
                            &:hover{
                                border-radius: 0.3rem;
                            }
                            &:focus{
                                background:$blue;
                                outline: 0;
                            }
                            .css-12jo7m5{
                                color:$white;
                                font-size: 1.3rem;
                                padding: 0.5rem 1.3rem;
                                font-weight: bold;
                            }
                            .css-1alnv5e{
                                width:35px;
                                color:$white;
                                svg{
                                    width:30px;
                                    height: 30px;
                                }
                                &:hover{
                                    background: $blue;
                                }
                            }
                            &:focus{
                                margin: 0;
                            }
                        }
                        .css-1hwfws3{
                            font-size: 1.4rem;
                            font-weight: bold;
                            padding: 0rem;
                            &:focus{
                                outline: 0!important;
                                font-size: 1.4rem;
                                padding: 0rem;
                                @include bp-from(m) {
                                    font-size: 1.6rem;
                                }
                            }
                            .css-11wa3eu0-placeholder{
                                font-size: 1.4rem;
                                font-weight: bold;
                                @include bp-from(m) {
                                    font-size: 1.6rem;
                                }
                            }
                            @include bp-from(m) {
                                font-size: 1.6rem;
                            }
                        }
                        
                        .css-1okebmr-indicatorSeparator{
                            display: none;
                        }
                        &:focus{
                            background: transparent;
                            outline: 0!important;
                        }
                    }
                    .css-1pahdxg-control{
                        background: transparent;
                        outline: none!important;
                        padding:0!important;
                        border:none;
                        box-shadow: none;
                        line-height: 1.4;
                        height: 50px;
                        .css-1rhbuit-multiValue{
                            background:$blue;
                            border-radius: 0.3rem;
                            margin: 0 0.5rem 0.5rem 0;
                            &:hover{
                                border-radius: 0.3rem;
                            }
                            &:focus{
                                background:$blue;
                                outline: 0;
                            }
                            .css-12jo7m5{
                                color:$white;
                                font-size: 1.3rem;
                                padding: 0.5rem 1.3rem;
                                font-weight: bold;
                            }
                            .css-1alnv5e{
                                width:35px;
                                color:$white;
                                svg{
                                    width:30px;
                                    height: 30px;
                                }
                                &:hover{
                                    background:$blue;
                                }
                            }
                        }
                        .css-1gtu0rj-indicatorContainer{
                            &:before{
                                content: '\e90f';
                                font-family: "icomoon";
                                font-size: 0.5rem;
                                opacity: 1;
                            }
                            svg{
                                display: none;
                            }
                        }
                        .css-1wa3eu0-placeholder{
                            font-size: 1.6rem;
                        }
                        .css-w8afj7-Input {
                            font-size: 1.4rem;
                            input{
                                font-size: 1.4rem;
                                @include bp-from(m) {
                                    font-size: 1.6rem;
                                }
                            }
                            @include bp-from(m) {
                                font-size: 1.6rem;
                            }
                        }
                        .css-1hwfws3{
                            padding:0;
                            &:focus{
                                outline: 0;
                                padding:0;
                                font-size: 1.6rem;
                            }
                        }
                        .css-1okebmr-indicatorSeparator{
                            display: none;
                        }
                        &:focus{
                            outline: 0;
                            box-shadow: none;
                            border:none;
                            padding:0!important;
                            .css-1okebmr-indicatorSeparator{
                                opacity: 0;
                            }
                        }
                    }
                    .css-26l3qy-menu{
                        background: $formBLue;
                        font-size: 1.4rem;
                        box-shadow: none;
                        border:none;
                        text-align: left;
                        .css-1ml51p6-MenuList div{
                            background: transparent;
                        }
                        .css-1n7v3ny-option{
                            background:transparent;
                        }
                        @include bp-from(m) {
                            font-size: 1.6rem;
                        }
                    }
                    &:focus{outline: 0; padding:0;}
                    &:focus-within{outline: 0;}
                }
                .css-14jk2my-container{
                    padding:0;
                    opacity:0.5;
                    .css-1fhf3k1-control{
                        line-height: 1.4;
                        min-height: 50px;
                        background: transparent;
                        border:none;
                        .css-1rhbuit-multiValue{
                            background:$blue;
                            border-radius: 0.3rem;
                            margin:0 0.5rem 0.5rem 0;
                            &:hover{
                                border-radius: 0.3rem;
                            }
                            &:focus{
                                background:$blue;
                                outline: 0;
                            }
                            .css-12jo7m5{
                                color:$white;
                                font-size: 1.3rem;
                                padding: 0.5rem 1.3rem;
                                font-weight: bold;
                            }
                            .css-1alnv5e{
                                width:35px;
                                color:$white;
                                svg{
                                    width:30px;
                                    height: 30px;
                                }
                                &:hover{
                                    background: $blue;
                                }
                            }
                            &:focus{
                                margin: 0;
                            }
                        }
                        .css-1hwfws3{
                            font-size: 1.6rem;
                            font-weight: bold;
                            padding: 0rem;
                            &:focus{
                                outline: 0!important;
                                font-size: 1.6rem;
                                padding: 0rem;
                            }
                            .css-11wa3eu0-placeholder{
                                font-size: 1.6rem;
                                font-weight: bold;
                            }
                        }
                        
                        .css-1okebmr-indicatorSeparator{
                            display: none;
                        }
                        &:focus{
                            background: transparent;
                            outline: 0!important;
                        }
                        .css-109onse-indicatorSeparator{
                            display: none;
                        }
                        .css-tlfecz-indicatorContainer{
                            &:before{
                                content: "\e90f";
                                font-family: 'icomoon';
                                font-size: 0.5rem;
                            }
                            svg{
                                display: none;
                            }
                        }
                    }
                    .css-f0arjc-control{
                        background: transparent;
                        outline: none!important;
                        padding:0!important;
                        border:none;
                        box-shadow: none;
                        line-height: 1.4;
                        height: 50px;
                        .css-1rhbuit-multiValue{
                            background:$blue;
                            border-radius: 0.3rem;
                            margin: 0 0.5rem 0.5rem 0;
                            &:hover{
                                border-radius: 0.3rem;
                            }
                            &:focus{
                                background:$blue;
                                outline: 0;
                            }
                            .css-12jo7m5{
                                color:$white;
                                font-size: 1.3rem;
                                padding: 0.5rem 1.3rem;
                                font-weight: bold;
                            }
                            .css-1alnv5e{
                                width:35px;
                                color:$white;
                                svg{
                                    width:30px;
                                    height: 30px;
                                }
                                &:hover{
                                    background:$blue;
                                }
                            }
                        }
                        .css-1gtu0rj-indicatorContainer{
                            color: unset;
                            &:before{
                                content: '\e90f';
                                font-family: "icomoon";
                                font-size: 0.5rem;
                                opacity: 1;
                            }
                            svg{
                                display: none;
                            }
                        }
                        .css-1wa3eu0-placeholder{
                            font-size: 1.6rem;
                        }
                        .css-w8afj7-Input {
                            font-size: 1.4rem;
                            input{
                                font-size: 1.4rem;
                                @include bp-from(m) {
                                    font-size: 1.6rem;
                                }
                            }
                            @include bp-from(m) {
                                font-size: 1.6rem;
                            }
                        }
                        .css-1hwfws3{
                            padding:0;
                            &:focus{
                                outline: 0;
                                padding:0;
                                font-size: 1.6rem;
                            }
                        }
                        .css-1okebmr-indicatorSeparator{
                            display: none;
                        }
                        &:focus{
                            outline: 0;
                            box-shadow: none;
                            border:none;
                            padding:0!important;
                            .css-1okebmr-indicatorSeparator{
                                opacity: 0;
                            }
                        }
                        .css-109onse-indicatorSeparator{
                            display: none;
                        }
                    }
                }
            }
            &.textarewrapper{
                height:85vh;
                overflow-y: auto;
                width:100.7%;
                margin:0 auto 0 0;
                ::-webkit-scrollbar {
                    width: 5px;
                    height:5px;
                  }
                  /* Track */
                  ::-webkit-scrollbar-track {
                    background: #f1f1f1; 
                  }
                  /* Handle */
                  ::-webkit-scrollbar-thumb {
                    background: #888; 
                  }
                  /* Handle on hover */
                  ::-webkit-scrollbar-thumb:hover {
                    background: #555; 
                  }
                .fieldClass{
                    position: unset;
                    top:0;
                    margin-left:14%;
                    margin-top:4%;
                    width:70%;
                    &:first-child{
                        margin-top:0%;
                    }
                    @include bp-from(l){
                        margin-left:20%;
                        margin-top:2%;
                        width:60%
                    }
                }
                @include bp-from(xl){
                    height:80vh;
                }
            }
            &.compny1{
                margin-top:3rem;
                height: 70vh;
                max-height: 80vh;
                overflow-y: auto;
                overflow-x: hidden;
                @include bp-from(m){
                    margin-top:0;
                    height:auto;
                    overflow-y: unset;
                }
            }
            @include bp-from(l){
                margin-top:1rem;
            }
        }
        .compny2{
            margin-top:4rem;
            @include bp-from(m){
                margin-top:5rem;
            }
        }
        .compny3{
            margin-top:7rem;
            @include bp-from(m){
                margin-top:0;
            }
        }
        .solution1{
            margin-top:30%;
            @include bp-from(m){
                margin-top:10%;
            }
        }
        .uploadContainer{
            display:block;
            width:70%;
            margin:30% auto 0;
            max-width:1024px;
            height: 100vh;
            padding-bottom: 1rem;
            .uploadLink{
                margin:0 auto 1rem;
                display:flex;
                width:110%;
                position: relative;
                .uploadLocation{
                    width:85%;
                    position: relative;
                    .MuiFormControl-root{
                        position: relative;
                        width:72%;
                        z-index: 1;
                        .MuiInputBase-root{
                            border: $blue 0.03rem solid;
                            width: 100%;
                            input[type="text"]{
                                width:100%;
                                padding: 0 1rem;
                                height: 3rem;
                                font-size: 1rem;
                                font-weight: bold;
                                @include bp-from(m){
                                    font-size: 1.6rem;
                                }
                            }
                        }
                        @include bp(m){
                            width:75%;
                        }
                        @include bp-from(xl){
                            width:81%;
                        }
                    }
                    .MuiFormControl-root + .uploadFIle{
                        position: absolute;
                        top:0;
                        width:100%;
                    }
                    .uploadFIle > div{
                        display: flex;
                        width:93%!important;
                        form{
                            display: flex;
                            position: absolute;
                            width:95%;
                            margin-top: 0;
                            height: 35px;
                            input[type="file"]{
                                width:102%;
                                position: absolute;
                                z-index: 1;
                                height: 50px;
                                opacity: 0;
                                @include bp(m) {
                                    width:92%;
                                }
                                @include bp-from(xl) {
                                    width:94%;
                                }
                            }
                            button{
                                position: absolute;
                                right:0;
                                top:0;
                            }
                        }
                        .progressContainer{
                            position: relative;
                            width:100%;
                            div{
                                width:100%;
                            }
                            button{
                                position: absolute;
                                right: -20%;
                                top: 0rem;
                                padding:0.2rem 0.4rem!important;
                                border-radius: 100%;
                                opacity: 0.5!important;
                                @include bp-from(m) {
                                    right: -1%;
                                    top: 0.2rem;
                                }
                            }
                        }
                        .progressContainer > div {
                            width:78%!important;
                            background: transparent!important;
                            margin-top:0!important;
                            height:48px!important;
                            @include bp(m) {
                                width:81%!important;
                            }
                            @include bp-from(xl) {
                                width:87%!important;
                            }
                        }
                        .progressContainer > div > div{
                            width:100%!important;
                            background:rgba($color:  $progressBar, $alpha: 0.5)!important;
                        }
                        .percentage{
                            position: absolute;
                            right: 3%;
                            text-align: right;
                            width: 30%!important;
                            top: 30%;
                            span{
                                display: flex;
                                width: 85%;
                                justify-content: center;
                                div{
                                    opacity: 0;
                                    @include bp-from(m) {
                                        opacity: 0.7;
                                    }
                                }
                                @include bp(m) {
                                    width:76%;
                                    justify-content: flex-end;
                                }
                                @include bp-from(xl) {
                                    justify-content: flex-end;
                                    width: 85%;
                                }
                            }
                        }
                    }
                    @include bp-from(m) {
                        width:95%;
                    }
                }
                .icon-upload{
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding:0.4rem;
                    background: $blue;
                    color: $darkblue;
                    border-radius: 100%;
                    margin: 0rem 0rem 0.5rem 0rem;
                    z-index: 0;
                    right: 22%;
                    width:25px;
                    position: absolute;
                    cursor: pointer;
                    @include bp(m){
                        margin: 0rem 0rem 0.5rem 0;
                        right: 18%;
                        padding:0.8rem;
                    }
                    @include bp-from(xl){
                        margin: 0rem 0rem 0.5rem 0;
                        right: 15%;
                    }
                }
                .icon-delete-button{
                    font-size: 1.5rem;
                    line-height: 1.6;
                    height: 3rem;
                    cursor: pointer;
                    @include bp-from(m){
                        line-height: 2.2;
                    }
                }
                &.none{
                    display: none;
                }
                @include bp-from(m){
                    width:100%;
                }
            }
            .uploadTitle{
                .fieldClass{
                    left: 0;
                    width: 100%;
                    text-align: left;
                    margin: 0;
                    h2{
                        text-align: left;
                        font-size: 1rem;
                        margin-bottom: 1rem;
                    }
                }
            }
            .uploadLinkdropdown{
                padding-top: 0.5rem;
                display:flex;
                position: relative;
                width:100%;
                .uploadLocation{
                    width:85%;
                    position: relative;
                    select{
                        width:72%;
                        border: $blue 0.03rem solid;
                        font-size: 1rem;
                        padding:0.7rem;
                        background: transparent;
                        option{
                            background: $blue;
                            color:$white;
                            line-height: 1.4;
                        }
                        @include bp-from(m){
                            font-size: 1.6rem;
                            font-weight: bold;
                            width: 90%;
                        }
                    }
                    @include bp-from(m){
                        width:95%;
                    }
                }
                @include bp(m){
                    width:84%;
                }
                @include bp-from(xl){
                    width:90%;
                }
            }
            @include bp-from(m){
                margin:5% auto 0;
                height:80vh;
            }
        }
        .fieldClassCenter{
            margin-top: 35%;
            position: unset;
            .fieldClass{
                top:0;
                left:0;
                width:auto;
                text-align:center;
                display: block;
            }
            @include bp-from(l){
                margin-top: 15%;
            }
        }
        .marginTop{
            margin-top: 25%;
            @include bp-from(l){
                margin-top: 15%;
            }
        }
        .marginTop5{
            margin-top: 15%;
            @include bp-from(l){
                margin-top: 7%;
            }
        }
        .marginTop25{
            margin-top: 35%;
            @include bp-from(l){
                margin-top: 7%;
            }
        }
        @include bp-from(xl){
            top:20%;
        }
    }
    &.overflow{
        height: calc(100vh - 0rem);
        overflow-y: auto;
        ::-webkit-scrollbar {
            width: 5px;
            height:5px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        }
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #888; 
        }
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #555; 
        }
        @include bp-from(m){
            height: calc(100vh - 0rem);
        }
    }   
}
.MuiPopover-root{
    .MuiPaper-root{
        background-color: transparent!important;
        &.MuiPaper-elevation8{
            box-shadow: none!important;
        }
    }
}

div{
    &:focus{
        outline: 0!important;
    }
}
.light-theme + .landingContainer{
    .css-w8afj7-Input{
        color:rgba($color: $nightTheme, $alpha: 0.5);
        input{
            &:focus{
                color:rgba($color: $nightTheme, $alpha: 0.5);
                outline:none;
                font-size: 1.6rem!important;
                font-weight: bold;
            }
        }
        &:focus{
            color:rgba($color: $nightTheme, $alpha: 0.5);
            outline:none;
            font-size: 1.6rem!important;
        }
    }
    .css-1wa3eu0-placeholder{
        font-size: 1.6rem;
        font-weight: bold;
        color:rgba($color: $textdaygrey, $alpha: 0.3);
        &:focus{
            font-size: 1.6rem;
            font-weight: bold;
        }
    }
    .css-26l3qy-menu{
        color:$white;
        position: relative;
    }
    .css-1pahdxg-control{
        $color: $white;
        font-weight: bold;
        &:focus{
            .css-1wa3eu0-placeholder{
                $color: $textdaygrey;
            }
        }
        .css-1gtu0rj-indicatorContainer{
            &:before{
                content: '\e90f';
                font-family: "icomoon";
                font-size: 0.5rem;
                color: $black;
                opacity: 0.5;
            }
            svg{
                display: none;
            }
        }
    }
    select{
        color: $nightTheme;
    }
    .progressContainer{
        button{color:$nightTheme!important; border:2px solid $nightTheme!important;}
    }
    .socialLink {
        .icon{
            color: $textday;
        }
    }
}

.MuiMenu-list{
    background: $blue;
    color:$white;
    padding:0!important;
    .MuiMenuItem-root{
        color:rgba($color: $white, $alpha: 1);
        font-size: 1.4rem;
        @include bp-from(m) {
            font-size: 1.6rem;
        }
    }
    @include bp-from(m) {
        padding:8px 0!important;
    }
}
.dark-theme + .landingContainer{
    .css-w8afj7-Input{
        color:rgba($color: $white, $alpha: 0.5);
        &:focus{
            color:rgba($color: $white, $alpha: 0.5);
            outline:none;
        }
    }
    .css-1wa3eu0-placeholder{
        font-size: 1.4rem;
        color:rgba($color: $white, $alpha: 0.3);
        &:focus{
            font-size: 1.4rem;
            @include bp-from(m) {
                font-size: 1.6rem;
            }
        }
        @include bp-from(m) {
            font-size: 1.6rem;
        }
    }
    .css-26l3qy-menu{
        color:$white;
        position: relative;
    }
    .css-1pahdxg-control{
        $color: $white;
        &:focus{
            .css-1wa3eu0-placeholder{
                $color: $white;
            }
        }
    }
    select{
        color: $white;
    }
    .progressContainer{
        button{color:$white!important; border:2px solid $white!important;}
    }
    .socialLink {
        .icon{
            color: $nightTheme;
        }
    }
}

.dark-theme + .landingContainer{
    .skip{
        button{
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            &:hover{
                background-color: unset;
            }
        }
    }
}
.light-theme + .landingContainer {
    .skip{
        button{
            color: #0a48d4;
            font-size: 1rem;
            font-weight: bold;
            &:hover{
                background-color: unset;
            }
        }
    }
}
