@import '../../../assets/scss/Icomoon.scss';
@import '../../../assets/scss/Variable.scss';
@import '../../../assets/scss/BreakPoint.scss';


.dark-theme{
    background: rgba(21,38,135,1);
    background: -moz-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(21,38,135,1)), color-stop(56%, rgba(25,25,103,1)), color-stop(100%, rgba(26,23,100,1)));
    background: -webkit-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
    background: linear-gradient(135deg, rgba(21,38,135,1) 0%, rgba(25,25,103,1) 56%, rgba(26,23,100,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152687', endColorstr='#1a1764', GradientType=1 );
    position: relative;
    width:100%;
    height: 100vh;
    .topBgGradient{
        background: url('../../../assets/images/topBgGradient.png') no-repeat 0 0;
        position: absolute;
        top:0;
        left:0;
        z-index: 1;
        background-size: 100%;
        width: 82%;
        height: 10rem;
        @include bp(m){
            background: url('../../../assets/images/topBgGradient.png') no-repeat 0 0;
            background-size:100%;
            width: 70%;
            height: 100vh;
        }
        @include bp(l){
            background: url('../../../assets/images/topBgGradient.png') no-repeat 0 0;
            background-size:100%;
            width: 35%;
            height: 11rem;
        }
        @include bp(xl){
            width: 32%;
            height:15rem;
        }
    }

    .starContainer{
        position: relative;
        width: 100%;
        height: 100vh;
        animation: blink 2s infinite both;
    }
    .bottomBgGradient{
        background: url('../../../assets/images/bottomBgGradientmobilenight.png') no-repeat bottom right;
        background-size: 20% 60%;
        position: absolute;
        bottom:0;
        right:0;
        width: 100%;
        height: 100%;
        z-index: 1;
        @include bp-from(m){
            background: url('../../../assets/images/bottomBgGradientwebnight.png') no-repeat bottom right;
            background-size: 20% 65%;
        }
    }
    .react-switch{
        .react-switch-handle{
            background-image:url('../../../assets/images/moon.png') !important;
            background-position: center !important;
            background-size: 26px !important;
        }
        .react-switch-bg{
            background-image: url('../../../assets/images/night-toggle.png') !important;
            background-position: center !important;
            background-size:4rem !important;
            background-repeat: no-repeat !important;
        }
    }
    
}

.dark-theme + .landingContainer{ 
    color: $white;
    .icon-nav{
        color:$white;
        font-size: 1.5rem;
        @include bp(xl) {
            font-size: 2rem;
        }
    }
    .MuiInputBase-root{
        color: $white;
        .MuiInputBase-input{
            color: $white;
        }
        .MuiSelect-icon{
            color: $white;
        }
    }
    textarea{
        background: rgba($color: $formBLue, $alpha: 0.7);
        color: $white;
    }
}
.light-theme{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(183,225,249,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(183,225,249,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(183,225,249,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(183,225,249,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(183,225,249,1) 100%);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(183,225,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b7e1f9', GradientType=1 );
    position: relative;
    width:100%;
    height: 100vh;
    color: #000;
    overflow: hidden;
    .topBgGradient{
        background: url('../../../assets/images/topBgGradientDay.png') no-repeat 0 0;
        position: absolute;
        top:0;
        left:0;
        z-index: 1;
        background-size: 100%;
        width: 82%;
        height: 10rem;
        @include bp(m){
            background: url('../../../assets/images/topBgGradientDay.png') no-repeat 0 0;
            background-size:100%;
            width: 75%;
            height: 100vh;
        }
        @include bp(l){
            background: url('../../../assets/images/topBgGradientDay.png') no-repeat 0 0;
            background-size:100%;
            width: 35%;
            height: 11rem;
        }
        @include bp(xl){
            width: 32%;
            height:15rem;
        }
    }
    .bottomBgGradient{
        background: url('../../../assets/images/bottomBgGradientmobileday.png')  no-repeat bottom right;
        background-size: 20% 60%;
        position: absolute;
        bottom:0;
        right:0;
        width: 100%;
        height: 100%;
        z-index: 1;
        @include bp(m){
            width: 100%;
            height: 100%;
            background: url('../../../assets/images/bottomBgGradientwebday.png') no-repeat bottom right;
            background-size: 20% 65%;
        }
    }
    .react-switch{
        .react-switch-handle{
            background-image:url('../../../assets/images/sun.png') !important;
            background-position: center !important;
            background-size: 26px !important;
            box-shadow: unset !important;
            &:focus {
                outline: unset !important;
            }
        }
        .react-switch-bg{
            background-image: url('../../../assets/images/day-toggle.png') !important;
            background-position: center !important;
            background-size:4rem !important;
            background-repeat: no-repeat !important;
            
        }
    }
}
.light-theme + .landingContainer{ 
    color:$textdaygrey;
    .icon-nav{
        color:$textday;
        font-size: 1.5rem;
        @include bp(xl) {
            font-size: 2rem;
        }
    }
    .MuiInputBase-root{
        color: $textdaygrey;
        .MuiInputBase-input{
            color: $textdaygrey;
        }
        .MuiSelect-icon{
            color: $textdaygrey;
        }
    }
    textarea{
        background: rgba(251, 253, 255, 0.7);
        color: $textdaygrey;
        -webkit-box-shadow: 0px 0px 15px 2px rgba(214,224,235,1);
        -moz-box-shadow: 0px 0px 15px 2px rgba(214,224,235,1);
        box-shadow: 0px 0px 15px 2px rgba(214,224,235,1);
    }
    .fieldClass h2{
        color:$textday;
    }
}
nav {
    display: flex;
    width: calc(100% - 0rem);
    padding:0rem 1rem;
    justify-content: space-between;
    position: absolute;
    z-index: 9;
    .makeStyles-root-1 {
        align-items: center;
        display: inherit;
        position: relative;
        z-index: 999;
        .MuiIconButton-root {
            color: $white;
        }
        .makeStyles-content-9 {
            padding: 0px;
            @include bp-between(m, xl) {
                padding: 24px;
            }
        }
    }
    .themeSwitch {
        align-items: center;
        display: inherit;
        position: absolute;
        z-index: 3;
        right:10%;
        top:30%;
        @include bp-from(m) {
            position: relative;
            right: unset;
            top: unset;
        }
    }
    @include bp-from(m){
        padding: 1.5rem;
        width: calc(100% - 3rem);
    }
    @include bp-from(xl){
        padding: 2rem;
        width: calc(100% - 4rem);
    }
}
.dayNightSwitch{
    position: absolute;
    right:0.5rem;
    top:2rem;
    z-index: 9;
    @include bp(m) {
        top:3rem;
        right:3rem;
    }
    @include bp-from(xl) {
        right:5rem;
        top:5rem;
    }
}



@keyframes blink {
    0%{opacity: 0.4; }
    25%{ opacity:1; }
    50%{ opacity:  0.4; }
    75%{ opacity: 1; }
    100%{ opacity:  0.4; }
}

// Day view cloud animation
@-webkit-keyframes clouds-in-out {
    0% {
      right: 0%;
    }
    100% {
      right: 105%;
    }
}
@keyframes clouds-in-out {
    0% {
      right: 0%;
    }
    100% {
      right: 105%;
    }
}

