@import "../src/assets/scss/Icomoon.scss";
@import "../src/assets/scss/BreakPoint.scss";
@import "../src/assets/scss/Variable.scss";
@import "../src/assets/scss/common.scss";
@import "../src/assets/scss/Fonts.scss";

body {
  margin: 0;
  font-family: "DaxOT";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
