@import '../../../../assets/scss/Variable.scss';
@import '../../../../assets/scss/BreakPoint.scss';


.stepButtons{
    button.MuiButtonBase-root{
        background-color: rgba(52, 73, 235,0.5);
        height: 4.375rem;
        width: auto ;
        min-width: 3rem;
        color: #fff;
        padding:1rem 0.3rem!important;
        .buttonLabel{
            padding-right: 1rem;
            @include bp-from(m){
                padding-right: 2rem;
            }
        }
        span{
            font-size: 12px;
            @include bp-from(m){
                font-size: 20px;
            }    
        }
        &:hover{
            background-color: rgb(52, 73, 235)!important;
        }
        @include bp-from(m){
            height: 6.375rem;
            min-width: 4rem;
            padding:2rem!important;
        }
    }
    button:nth-child(1){
        position: absolute;
        top:0;
    }
    button:nth-child(2){
        position: absolute;
        top:0;
        right: 0;
    }
}