@import '../../../assets/scss/Variable.scss';
@import '../../../assets/scss/BreakPoint.scss';
@import '../../../assets/scss/Animation.scss';
.footer {
    position: relative;
    padding: 2rem 3rem;
    font-size: 2rem; 
    min-height: 3rem;
    text-align: center;
       
    h6 {
        line-height: 2rem;
        display: inherit;
        width: 100%;
        text-align: center;
        margin:3rem 0;
        span {
            color: #c5527f;
            padding-left: 0.5rem;
            text-decoration-line: underline;
        }
        @include bp-from(m) {
            width: 50%;
            line-height: 1.96rem;
            margin-top:10rem;
        }
        @include bp-from(l) {
            width: 31%;
            display: flex;
            flex-direction: column;
            line-height: 1.96rem;
            font-size: 1.5rem;
            margin-top:10rem;
        }
    }
    .socialIcon{
        width: 88%;
        margin: auto;
        justify-content: center;
        a {
            margin:2rem 0.5rem 1rem;
            text-decoration: none;
            cursor: pointer;
            border-radius: 100%;
            padding:0.3rem 0.5rem;
            @include bp-from(l) {
                margin:3rem 0.5rem 1rem;
            }
        }
        @include bp-from(m) {
            display:flex;
            align-items: center;
            margin:2% 8% 2% 4%;
            width: 15%;
        }
    }
    .facebookImage {
        flex-grow: 0.2;
        width: 2.1875rem;
        height: 2.1875rem;
        background-image: url('../../../assets/images/facebookicon.svg');
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;   
        @include bp-from(m) {
            width: 30px;
            height: 30px;
            margin-top:5%;
        }
    }
    .twiterImage {
        flex-grow: 0.2;
        width: 2.1875rem;
        height: 2.1875rem;
        background-image: url('../../../assets/images/twittericon.svg');
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        @include bp-from(m) {
            width: 30px;
            height: 30px;
            margin-top:5%;
        }
    }
    .curtain5{
        width: 13.1875rem;
        height: 8.1875rem;
        position: absolute;
        left: -17%;
        top: -12%;
        background-position: left top;
        background-size:70% 100%;
        background-repeat: no-repeat;
        @include bp-from(m){
            top:-30%;        
            width: 15.1875rem;
            height: 7.1875rem;
            position: absolute;
            left: -8%;
        }   
        @include bp-from(l){
            top:-50%;        
            width: 25.1875rem;
            height: 13.1875rem;
            position: absolute;
            left: -8%;
        }   
    }
    .girlImage {
        flex-grow:3;
        text-align: center;
        width: 8.5rem;
        height: 8.5rem;
        background-image: url('../../../assets/images/bajajpage/footergirl_highres.png');
        background-position: right bottom;
        background-size: contain;
        background-repeat: no-repeat;   
        position: absolute;
        bottom: 0;
        right: 59%;
        z-index: 1;
        @include bp-from(m) {
            width: 8.5rem;
            height: 8.5rem;
            position: relative;
            right: -37px;
            top:132px;
        }
        @include bp-from(l) {
            width: 12.5rem;
            height: 12.5rem;
            margin-top:10%;
            right: 30%;
            top:131px;
            position: unset;
        }
        @include bp-from(xl) {
            width: 12.5rem;
            height: 12.5rem;
            margin-top:7%;
            right: 30%;
            top:131px;
            position: unset;
        }
    }
    .curtain6{
        width: 100%;
        height: 1.1875rem;
        position: absolute;
        right: 38%;
        bottom: 0%;
        background-image: url('../../../assets/images/bajajpage/Curtain6.png');
        background-position: center right;
        background-size:contain;
        background-repeat: no-repeat;
        @include bp-from(m){
            width: 100%;
            height: 2.1875rem;  
            right: 0; 
        }
        @include bp-from(l){
            right: 5%;
            width: 100%;
            height: 3.1875rem;   
        }   
    }
    @include bp-from(m) {
        display: flex;
        min-height: 3rem;
        padding: 0 3rem;
    }
}
.dark-theme{
    .socialIcon{
        a{
            background: $white;
            span{
                color:$nightTheme;
            }
        }
    }
    .curtain5{
        background-image: url('../../../assets/images/spacebid/curtain5.png');
    }
}
.light-theme{
    .socialIcon{
        a{
            background: $nightTheme;
            span{
                color:$white;
            }
        }
    }
    .curtain5{
        background-image: url('../../../assets/images/bajajpage/day-Curtain5.png');
    }
}
